<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head"></head>

<link rel="stylesheet" th:href="@{/css/courses.css}">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'faculty_courses')" sec:authorize="hasRole('ROLE_FACULTY')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
                <div th:replace="fragments/layout :: toolbar"></div>
                <div class="card" style="background-color: #f9f9f9">
                    <div class="card-header">
                        <h4 class="card-title">Floated Courses</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        These are the courses managed by you this session
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in collapse in">
                        <div class="card-block">
                            <!--/*@thymesVar id="incharge" type="in.ac.amu.zhcet.data.model.CourseInCharge"*/-->
                            <div id="courses">
                                <input class="fuzzy-search form-control round mb-1" placeholder="Search" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <button class="sort btn btn-block btn-outline-info btn-round mb-2" data-sort="code">Sort by code</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="sort btn btn-block btn-outline-primary btn-round mb-2" data-sort="title">Sort by title</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="sort btn btn-block btn-outline-success btn-round mb-2" data-sort="semester">Sort by semester</button>
                                    </div>
                                </div>
                                <ul class="list-group list">
                                    <li th:each="incharge : ${courseInCharges}" class="mb-2" th:with="url = |/faculty/courses/${incharge.code}/attendance|">
                                        <a th:href="${url}" style="color: inherit" th:with="course = ${incharge.floatedCourse.course}">
                                            <div class="card" th:with="section = ${#strings.defaultString(incharge.section, 'All')}">
                                                <div class="card-header">
                                                    <h4 class="course-title card-title" id="heading-icon">
                                                        <strong><span th:class="|code tag tag-pill tag-glow ${@viewService.getClassForCourse(course)}|" th:text="${course.code}"></span></strong> :
                                                        <span class="title" th:text="${course.title}"></span>
                                                    </h4>
                                                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                                    <div class="heading-elements">
                                                        <ul class="list-inline mb-0">
                                                            <li><a th:href="${url}" data-toggle="tooltip" data-placement="top" data-original-title="Manage Attendance"><i class="icon-paper"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div th:replace="department/fragments/course_components :: course_card_body"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="pagination pagination-separate pagination-flat"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        var options = {
            valueNames: [ 'code', 'title', 'semester' ],
            page: 10,
            pagination: true
        };

        $(document).ready(function () {
            List('courses', options);
        });
    }());
</script>
</body>
</html>