<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'faculty_courses')" sec:authorize="hasRole('ROLE_FACULTY')">
    <!--/*@thymesVar id="course" type="amu.zhcet.data.course.Course"*/-->
    <!--/*@thymesVar id="incharge" type="amu.zhcet.data.course.incharge.CourseInCharge"*/-->
    <div class="row" th:if="${incharge}">
        <div class="col-xs-12">
            <div th:replace="fragments/layout :: toolbar"></div>
        </div>
        <div class="col-xs-12 col-xl-9">
            <div th:replace="faculty/fragments/attendance"></div>
        </div>
        <div class="col-xs-12 col-xl-3">
            <div th:replace="faculty/fragments/email_list"></div>
            <div th:with="attendance_download_url = @{|/admin/faculty/courses/${incharge.code}/attendance.csv|}"
                 th:insert="faculty/fragments/attendance_download"></div>
            <div th:replace="faculty/fragments/attendance_upload"></div>
            <div th:replace="faculty/fragments/attendance_confirm"></div>
        </div>
    </div>
    <div class="row">
        <div th:replace="faculty/fragments/attendance_errors"></div>
    </div>
    <div class="row" th:unless="${incharge}">
        <div th:replace="department/fragments/course_not_found"></div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var threshold = /*[[${@configurationService.getThreshold()}]]*/ 75;
    /*]]>*/

    function update(node) {
        var cell = $(node);

        var attended = cell.find('.attended').val();
        var delivered = cell.find('.delivered').val();
        var percent = attended/delivered*100;

        if (percent < threshold)
            cell.addClass('bg-danger');
        else
            cell.removeClass('bg-danger');

        cell.find('.percent').text(truncateDecimals(percent, 2) + '%')
    }

    var truncateDecimals = function (number, digits) {
        var multiplier = Math.pow(10, digits),
            adjustedNum = number * multiplier,
            truncatedNum = Math[adjustedNum < 0 ? 'ceil' : 'floor'](adjustedNum);

        return truncatedNum / multiplier;
    };

</script>
<script th:src="@{/js/file-uploader.js}"></script>
<div th:replace="fragments/layout :: datatables"></div>
<div th:replace="fragments/layout :: datatables_export"></div>
<script th:src="@{/js/attendance-upload.js}"></script>
</body>
</html>