<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head"></head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'notification_manager', subPage='manage_notification')">
    <div class="container">
        <div class="row">
            <!--/*@thymesVar id="notification" type="amu.zhcet.notification.Notification"*/-->
            <div class="col-12" th:if="${notification}">
                <div th:replace="fragments/toolbar"></div>

                <form id="notification" th:action="@{|/management/notifications/${notification.id}/edit|}" method="post" th:object="${notification}">
                    <div th:each="error : ${#fields.detailedErrors('*')}">
                        <div th:replace="fragments/flash :: error(condition = true, error = ${error})"></div>
                    </div>
                    <div class="form-group">
                        <div class="position-relative has-icon-left">
                            <input type="text" id="title" class="form-control" placeholder="Notification Title" th:field="*{title}">
                            <div class="form-control-position">
                                <i class="material-icons gray margin-b-small">edit</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea name="notification" class="form-control" id="notification-editor"
                                  rows="10" th:field="*{message}" title="Message" required></textarea>
                    </div>

                    <input name="page" th:value="${param.page}" hidden>
                    <input th:field="*{channelType}" hidden>
                    <input th:field="*{recipientChannel}" hidden>

                    <button type="submit" class="btn btn-primary float-right">Save</button>
                </form>
            </div>

            <div class="col-xs-12 col-lg-6 offset-lg-3" th:unless="${notification}">
                <div th:replace="management/fragments/notification_not_found"></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>