<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<link rel="stylesheet" th:href="@{/css/notification.css}">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'notification', subPage='manage_notification')" sec:authorize="hasAnyRole('ROLE_FACULTY', 'ROLE_DEPARTMENT_ADMIN', 'ROLE_DEAN_ADMIN')">
    <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="minPage" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="maxPage" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="notifications" type="java.util.List"*/-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div th:replace="fragments/toolbar"></div>
                <div th:replace="fragments/flash :: success(condition = ${notification_success}, message = ${notification_success})"></div>
                <div th:replace="fragments/pagination(pageUrl = 'management/notifications')"></div>

                <!--/*@thymesVar id="notification" type="amu.zhcet.notification.Notification"*/-->

                <div th:if="${notifications.isEmpty()}" class="text-center text-muted">
                    <h3>No notifications</h3>
                </div>

                <div class="modal fade text-left" id="delete" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <h4 class="modal-title">Delete Notification</h4>
                            <div class="modal-header bg-danger white">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-danger" role="alert">
                                    <span class="text-bold-600">Beware!</span> Deleting the notification will also delete it for all recipients
                                </div>
                                <p>If you wish to continue, please click the delete button</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                                <a id="delete-link" th:href="@{/management/notifications/}">
                                    <button type="button" id="delete-button" class="btn btn-outline-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:each="notification : ${notifications}">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="title" th:text="${notification.title}"></h4>
                            <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <form method="get" th:action="@{|/management/notifications/${notification.id}/edit|}">
                                            <input type="text" name="page" th:value="${currentPage}" hidden>
                                            <button type="submit" data-toggle="tooltip" data-original-title="Edit Notification"
                                                    class="head-icon btn btn-icon btn-pure">
                                                <i class="material-icons md-18 gray">edit</i>
                                            </button>
                                        </form>
                                    </li>
                                    <li>
                                        <button class="head-icon btn btn-icon btn-pure" data-toggle="tooltip" data-original-title="Delete Notification"
                                                th:onclick="|NotificationManager.deleteNotification(${notification.id})|">
                                            <i class="material-icons md-18 gray">delete</i>
                                        </button>
                                    </li>
                                    <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                                        <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse show">
                            <div th:id="|statisticsWrap${notification.id}|" role="tablist" aria-multiselectable="true">
                                <div class="collapse-icon accordion-icon-rotate">
                                    <div th:id="|statisticsHeader${notification.id}|" class="card-header bg-light-gray">
                                        <a data-toggle="collapse" th:href="|#statisticsAccordion${notification.id}|" aria-expanded="false" class="accordion-title lead collapsed">Statistics</a>
                                    </div>
                                    <div th:id="|statisticsAccordion${notification.id}|" role="tabpanel" class="card-collapse collapse" aria-expanded="false" style="height: 0;">
                                        <div class="bg-light-gray px-1">
                                            <table class="statistics">
                                                <tr>
                                                    <td><i class="material-icons">share</i></td>
                                                    <td>Type</td>
                                                    <td th:text="${notification.channelType}"></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="material-icons">group</i></td>
                                                    <td>Recipient</td>
                                                    <td th:text="${notification.recipientChannel}"></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="material-icons">notifications_active</i></td>
                                                    <td>Received</td>
                                                    <td th:text="${notification.notificationRecipients.size()}"></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="material-icons">visibility</i></td>
                                                    <td>Seen</td>
                                                    <td th:text="${notification.seenCount}"></td>
                                                </tr>
                                                <tr>
                                                    <td><i class="material-icons">receipt</i></td>
                                                    <td><a th:href="@{|/management/notifications/${notification.id}/report|}">Report</a></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" th:text="${notification.message}"></div>
                        </div>
                        <blockquote class="mb-2">
                                <span>From : <code th:text="${notification.sender.name}"></code>
                                    <span th:if="${notification.automated}">
                                        <i data-toggle="tooltip" data-original-title="Automated" class="material-icons">autorenew</i>
                                    </span>
                                </span>
                            <small class="float-right"><em style="vertical-align: bottom" th:text="${#temporals.format(notification.sentTime)}"></em></small>
                        </blockquote>
                    </div>
                </div>
                <div th:replace="fragments/pagination(pageUrl = 'management/notifications')"></div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var NotificationManager = (function () {
        var page = 1;
        const deleteLink = $('#delete-link');
        const baseUrl = deleteLink.attr('href');

        function deleteNotification(id) {
            const url = baseUrl +  id + '/delete';
            deleteLink.attr('href', url);
            $('#delete').modal();
        }

        return {
            deleteNotification: deleteNotification,
            init: function (pageId) {
                page = pageId;
            }
        }
    }());

    /*<![CDATA[*/
    NotificationManager.init(/*[[${currentPage}]]*/ 1);
    /*]]>*/
</script>
</body>
</html>
