<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'student_attendance')" sec:authorize="hasRole('ROLE_STUDENT')">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
        <div th:replace="fragments/toolbar"></div>
        <div class="row" th:if="${sessions}">
            <div class="col-xs-12 col-md-4 offset-md-8"
                 th:with="defaultSession = ${sessionCode != null ? sessionCode : @configurationService.getDefaultSessionCode()}">
                <form class="mui-form">
                    <div class="mui-select">
                        <select name="Session" id="session" onChange="window.location.href=this.value">
                            <option th:each="sessionCode : ${sessions}"
                                    th:value="@{./attendance(session=${sessionCode})}"
                                    th:selected="${defaultSession == sessionCode}"
                                    th:text="${@configurationService.getSessionName(sessionCode)}"></option>
                        </select>
                        <label for="session">Session</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Attendance</h4>
                <h6 th:text="|Threshold Percentage : ${@configurationService.getThreshold()}%|"></h6>
                <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                        <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in collapse in">
                <div class="card-block">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table display responsive nowrap" id="attendance_table">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th data-toggle="tooltip" data-original-title="Attended">Att.</th>
                                    <th data-toggle="tooltip" data-original-title="Delivered">Del.</th>
                                    <th>%</th>
                                    <th>Updated</th>
                                </tr>
                                </thead>
                                <tbody>

                                <th:block th:each="attendance: ${attendances}">
                                    <!--/*@thymesVar id="attendance" type="amu.zhcet.data.attendance.Attendance"*/-->
                                    <tr th:with="percent=${attendance.attended*100.0/attendance.delivered}" th:class="(${percent &lt; @configurationService.threshold} ? 'bg-danger white':'')">
                                        <td th:text="${attendance.courseRegistration.floatedCourse.course.code}"></td>
                                        <td th:text="${attendance.courseRegistration.floatedCourse.course.title}"></td>
                                        <td th:with="attended = ${attendance.attended}" th:text="${attended}"></td>
                                        <td th:with="delivered = ${attendance.delivered}" th:text="${delivered}"></td>
                                        <td th:text="${attendance.delivered == 0 ? 0 : #numbers.formatDecimal(percent, 0, 2)}+'%'"></td>
                                        <td><small th:text="${attendance.updatedAt != null ? #temporals.format(attendance.updatedAt, 'hh:mm a | EEE, MMM d, yy') : ''}"></small></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/scripts :: datatables"></div>
<div th:replace="fragments/scripts :: datatables_export"></div>
<script>
    $('#attendance_table').DataTable({
        dom: 'lBfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>
</body>
</html>