<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head"></head>

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.bootstrap4.min.css">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'student_attendance')"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_STUDENT')">
    <div class="col-xs-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
        <div th:replace="fragments/layout :: toolbar"></div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Attendance</h4>
                <h6 th:text="|Threshold Percentage : ${@configurationService.getThreshold()}%|"></h6>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in collapse in">
                <div class="card-block">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table display responsive nowrap" id="attendance_table">
                                <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th data-toggle="tooltip" data-original-title="Attended">Att.</th>
                                    <th data-toggle="tooltip" data-original-title="Delivered">Del.</th>
                                    <th>%</th>
                                    <th>Updated</th>
                                </tr>
                                </thead>
                                <tbody>

                                <th:block th:each="attendance: ${attendances}">
                                    <!--/*@thymesVar id="attendance" type="in.ac.amu.zhcet.data.model.Attendance"*/-->
                                    <tr th:with="percent=${attendance.attended*100.0/attendance.delivered}" th:class="(${percent &lt; @configurationService.threshold} ? 'bg-danger white':'')">
                                        <td th:text="${attendance.courseRegistration.floatedCourse.course.code}"></td>
                                        <td th:text="${attendance.courseRegistration.floatedCourse.course.title}"></td>
                                        <td th:with="attended = ${attendance.attended}" th:text="${attended}"></td>
                                        <td th:with="delivered = ${attendance.delivered}" th:text="${delivered}"></td>
                                        <td th:text="${attendance.delivered == 0 ? 0 : #numbers.formatDecimal(percent, 0, 2)}+'%'"></td>
                                        <td th:text="${attendance.updatedAt != null ? #temporals.format(attendance.updatedAt, 'hh:mm a | EEE, MMM d, yy') : ''}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.bootstrap4.min.js"></script>
<script>
    (function () {
        $(document).ready(function () {
            $('#attendance_table').DataTable({
                dom: 'lBfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    }());
</script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
</body>
</html>