<div xmlns:th="http://www.thymeleaf.org" th:fragment="faculty/fragment/attendance_download" class="card">
    <a th:href="${attendance_download_url}" target="_blank">
        <div class="card-body">
            <div class="media">
                <div class="p-2 text-center bg-cyan bg-darken-2 media-left media-middle" style="background-color: #0097A7">
                    <i class="material-icons font-large-2 md-light">event</i>
                </div>
                <div class="p-2 bg-cyan text-white media-body" th:if="${courseRegistrations != null}" style="background-color: #00BCD4">
                    <h5>Download Attendance</h5>
                    <h5 class="text-bold-600" th:if="${incharge != null && incharge.section != null}" th:text="|Section : ${incharge.section}|"></h5>
                    <h5 class="text-bold-400" th:text="|${courseRegistrations.size()} Students|"></h5>
                </div>
            </div>
        </div>
    </a>
</div>