<div xmlns:th="http://www.thymeleaf.org" th:fragment="faculty/fragment/attendance_download" class="card bg-info">
    <a th:href="${attendance_download_url}" target="_blank">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="align-self-center">
                        <i class="material-icons font-large-2 md-light">event</i>
                    </div>
                    <div class="media-body text-white text-right" th:if="${courseRegistrations != null}" style="background-color: #00BCD4">
                        <h3 class="text-bold-400 text-white" th:text="|${courseRegistrations.size()} Students|"></h3>
                        <h4 class="text-bold-600 text-white" th:if="${incharge != null && incharge.section != null}" th:text="|Section : ${incharge.section}|"></h4>
                        <span>Download Attendance</span>
                    </div>
                </div>

            </div>
        </div>
    </a>
</div>