<div xmlns:th="http://www.thymeleaf.org" th:fragment="attendance_upload" class="card">
    <div class="card-header">
        <h4 class="card-title">Upload Attendance</h4>
        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-body collapse in collapse in">
        <div class="card-block">
            <form class="form" enctype="multipart/form-data" th:action="|/admin/faculty/courses/${incharge.code}/attendance/edit|" method="post">
                <div hidden>
                    Download the <a th:href="@{/csv/attendance_format.csv}">attendance format</a>
                </div>
                <div class="bs-callout-primary callout-border-left p-1">
                    <strong>Upload Instructions</strong><br>
                    First, download the attendance CSV using the button above, then edit the file and upload it
                </div>
                <div class="bs-callout-danger callout-border-left p-1">
                    <strong>Note</strong><br>
                    Only attended and delivered columns of the file are editable, changes in other fields are ignored
                </div>
                <br/>
                <div th:replace="fragments/uploader(id = 'attendance_upload')"></div>
                <div th:if="${updated}" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Updated!</strong> Student attendance was successfully updated<br/>
                </div>
                <div th:each="error : ${errors}" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div th:utext="${error}">Fix this and try and try again</div>
                </div>
            </form>
        </div>
    </div>
</div>