<div xmlns:th="http://www.thymeleaf.org" th:fragment="attendance_errors" th:if="${confirmAttendanceErrors}"
     id="error-modal" class="modal">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Error Uploading Attendance</h4>
            </div>
            <div class="modal-body" style="padding: 30px;">
                <div class="row">
                    <table id="error-table" class="table display table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Enrolment Number</th>
                            <th>Faculty Number</th>
                            <th>Name</th>
                            <th>Attended</th>
                            <th>Delivered</th>
                            <th>Error</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="confirm : ${confirmAttendanceErrors.data}">
                            <tr th:class="(${confirm.meta} ? 'bg-danger white' : '')">
                                <td th:text="${confirm.enrolmentNo}"></td>
                                <td th:text="${confirm.facultyNo}"></td>
                                <td th:text="${confirm.name}"></td>
                                <td th:text="${confirm.attended}"></td>
                                <td th:text="${confirm.delivered}"></td>
                                <td th:text="${confirm.meta}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Enrolment Number</th>
                            <th>Faculty Number</th>
                            <th>Name</th>
                            <th>Attended</th>
                            <th>Delivered</th>
                            <th>Error</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div th:each="error : ${confirmAttendanceErrors.errors}">
                    <div th:replace="fragments/layout :: error(condition = true, error = ${error})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
