<div xmlns:th="http://www.thymeleaf.org" th:fragment="email_list" th:if="${!email_list.isEmpty()}">
    <div class="card bg-primary" data-toggle="modal" data-target="#email_modal" style="cursor: pointer">
        <div class="card-body">
            <div class="card-content">
                <div class="media d-flex">
                    <div class="align-self-center">
                        <i class="material-icons font-large-2 md-light">email</i>
                    </div>
                    <div class="media-body text-white text-right">
                        <h3 class="text-bold-400 text-white" th:text="|${email_list.size()} Verified Student(s)|"></h3>
                        <span>Get Email List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="email_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Email List</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <textarea th:text="${#strings.listJoin(email_list, ',')}" style="width: 100%"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>