<div class="card" th:fragment="add_department" xmlns:th="http://www.thymeleaf.org" lang="en">
    <div class="card-header">
        <h4 class="card-title">Add Department</h4>
        <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
            <!--/*@thymesVar id="department" type="amu.zhcet.data.department.Department"*/-->
            <form class="mui-form" th:action="@{/admin/dean/departments/add}" method="post"
                  th:object="${department}">
                <div class="form-body">
                    <h4 class="form-section"><i class="material-icons md-24 md-dark">business</i>Department Information</h4>
                    <div class="form-group col-xs-12 mb-2">
                        <div class="mui-textfield mui-textfield--float-label">
                            <input id="department_code" type="text" th:field="*{code}"/>
                            <label for="department_code">Department Code</label>
                        </div>
                        <div class="mui-textfield mui-textfield--float-label">
                            <input id="department_name" type="text" th:field="*{name}"/>
                            <label for="department_name">Department Name</label>
                        </div>
                        <div th:each="error : ${#fields.detailedErrors('*')}">
                            <div th:replace="fragments/flash :: error(condition = true, error = ${error})"></div>
                        </div>
                        <div th:each="error : ${dept_errors}">
                            <div th:replace="fragments/flash :: error(condition = true, error = ${error})"></div>
                        </div>
                        <div th:replace="fragments/flash :: success(condition = ${dept_success}, success_title = 'Uploaded!', message = 'Department was added successfully!')"></div>
                        <button type="submit" class="btn btn-primary float-xs-right">
                            <i class="material-icons">check</i> Add
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>