<div xmlns:th="http://www.thymeleaf.org" lang="en">
    <div class="card" th:fragment="register_faculty">
        <div class="card-header">
            <h4 class="card-title">Register Faculty</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="card-body collapse in">
            <div class="card-block">
                <form class="mui-form" enctype="multipart/form-data" th:action="@{/admin/dean/register/faculty}"
                      method="post">
                    <div class="form-body">
                        <h4 class="form-section"><i class="material-icons md-24 md-dark">import_contacts</i>Faculty CSV
                        </h4>
                        <div>Download the <a th:href="@{/csv/faculty_format.csv}">faculty format</a></div>
                        <br/>
                        <div th:replace="fragments/uploader(id = 'faculty_upload')"></div>
                        <div id="faculty-progress" style="display: none">
                            <div class="waiting">Please Wait...</div>
                            <div class="md-progress">
                                <div class="determinate" style="width: 0%"></div>
                            </div>
                            <small class="text-muted">
                                <span class="completed">0</span>/<span class="total">0</span>
                                <span class="percentage float-xs-right">0%</span>
                            </small>
                        </div>
                        <div th:each="error : ${faculty_errors}">
                            <div th:replace="fragments/flash :: error(condition = true, error = ${error})"></div>
                        </div>
                        <div th:replace="fragments/flash :: error(condition = ${file_error}, success_title = 'Error saving password file!', error = 'Registration wasn\'t successful! Please contact site admin')"></div>
                        <div th:replace="fragments/flash :: error(condition = ${faculty_unknown_error}, error_title = 'Unknown Error!', error = 'We don\'t know what happened. Please contact site admin')"></div>
                        <div th:replace="fragments/flash :: success(condition = ${file_saved}, success_title = 'Saved!', message = 'Password file was successfully saved! Click button below to download the file (will expire after 3 hours)')"></div>
                        <div th:if="${file_saved}" class="row text-xs-center" th:with="fileUrl = @{|/admin/dean/password/${file_saved}|}">
                            <div class="col-xs-12" th:with="fullFileUrl = @{|${@configurationService.getBaseUrl(#httpServletRequest.getRequestURL())}${fileUrl}|}">
                                <div class="form-group">
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="download_password" class="form-control" placeholder="Course Code" th:value="${fullFileUrl}">
                                        <div class="form-control-position">
                                            <i class="material-icons gray">code</i>
                                        </div>
                                    </div>
                                </div>
                                <a th:href="${fileUrl}" target="_blank"
                                   class="mui-btn mui-btn--primary mui-btn--small mui-btn--fab bg-primary p-0"
                                   data-original-title="Download Passwords" data-toggle="tooltip">
                                    <i class="material-icons md-light">cloud_download</i>
                                </a>
                                <button id="passwords" type="button" class="mui-btn mui-btn--primary mui-btn--small mui-btn--fab p-0"
                                        data-original-title="Copy Passwords Link" data-toggle="tooltip"
                                        th:attr="data-clipboard-text=${fullFileUrl}">
                                    <i class="material-icons md-light">link</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Faculty Registration Modal -->
        <div th:with="confirmRegistration=${#session.getAttribute('confirmFacultyRegistration')}">
            <div th:if="${confirmRegistration}" id="faculty-registration-modal" class="modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Confirm Faculty Registration</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="table-responsive">
                                    <table id="facultyTable" class="table">
                                        <thead>
                                        <tr>
                                            <th>Faculty ID</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Designation</th>
                                            <th>Department</th>
                                            <th>Password</th>
                                            <th>Error</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!--/*@thymesVar id="confirm" type="amu.zhcet.data.user.faculty.FacultyMember"*/-->
                                        <th:block th:each="confirm: ${confirmRegistration.data}">
                                            <tr th:class="(${confirm.meta} ? 'bg-danger white':'')">
                                                <td th:text="${confirm.facultyId}"></td>
                                                <td th:text="${confirm.user.name}"></td>
                                                <td th:text="${confirm.user.details.gender}"></td>
                                                <td th:text="${confirm.designation}"></td>
                                                <td th:text="${confirm.user.department?.name}"></td>
                                                <td th:text="${confirm.user.password}"></td>
                                                <td th:text="${confirm.meta}"></td>
                                            </tr>
                                        </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div th:each="error : ${confirmRegistration.errors}">
                                <div th:replace="fragments/flash :: error(condition = true, error = ${error})"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                            <form class="form" th:action="@{/admin/dean/register/faculty/confirm}" method="post"
                                  style="display: inline">
                                <button th:if="${confirmRegistration.errors.isEmpty()}" type="submit"
                                        class="btn btn-primary">Register
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script th:fragment="script" th:inline="javascript">
        (function () {

            $(document).ready(function () {
                $('#faculty-registration-modal').modal('show');
                $('#facultyTable').dataTable({
                    scrollY:        true,
                    scrollCollapse: true
                });

                $('#faculty-progress').initStatusProgress({
                    taskId: [[${task_id_faculty}]],
                    finished: function (result) {
                        toastr.success('Faculty Registration Complete in ' + result.duration/1000 + ' s')
                    },
                    failed: function (result) {
                        console.log(result);
                        toastr.error('Faculty Registration Failed');
                    }
                });

                var clipboard = new Clipboard('#passwords');
                clipboard.on('success', function () {
                    toastr.success('Link copied!');
                });
            });
        }());
    </script>
</div>

