<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="container"
      th:include="fragments/login :: login(page_title = 'Change Password', message = 'Change Password')" lang="en"
      data-textdirection="ltr" class="loading">
<div class="card-body collapse in">
    <div class="card-block">
        <div th:if="${error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            <strong>ERROR!</strong>
            <div th:text="${error}"></div>
        </div>
        <form th:unless="${error}"
              class="form-horizontal form-simple" action="#"
              th:action="@{/profile/change_password}" method="post"
              th:object="${password}">
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="oldPassword" name="password" placeholder="Old Password"
                       th:required="required" th:field="*{oldPassword}"/>
                <div class="form-control-position">
                    <i class="material-icons">lock_outline</i>
                </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="password" name="password" placeholder="New Password"
                       th:required="required" th:field="*{newPassword}"/>
                <div class="form-control-position">
                    <i class="material-icons">lock_open</i>
                </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="confirm_password" name="confirm_password"
                       placeholder="Retype New Password" th:required="required"
                       th:field="*{confirmPassword}"/>
                <div class="form-control-position">
                    <i class="material-icons">lock_open</i>
                </div>
            </fieldset>
            <br/>
            <div th:each="error : ${pass_errors}" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div th:text="${error}"></div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i
                    class="icon-unlock2"></i> Change Password
            </button>
            <br>
        </form>
        <div class="text-xs-center">
            <a th:href="@{/profile}">
                <button class="btn btn-primary">Profile</button>
            </a>
        </div>
    </div>
</div>
</html>
