<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-textdirection="ltr" class="loading">
<th:block th:fragment="container" th:include="fragments/login :: login(page_title = 'Change Password', message = 'Change Password')">
    <div class="card-body collapse in">
        <div class="card-block">
            <div th:if="${error}" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;
                </button>
                <strong>ERROR!</strong>
                <div th:text="${error}"></div>
            </div>
            <form th:unless="${error}"
                  class="form-horizontal form-simple" action="#"
                  th:action="@{/profile/password/change}" method="post"
                  th:object="${password}">
                <fieldset class="form-group position-relative has-icon-left mb-1">
                    <input type="password" class="form-control form-control-lg input-lg"
                           id="old-password" name="password" placeholder="Old Password"
                           th:field="*{oldPassword}" required/>
                    <div class="form-control-position">
                        <i class="material-icons">lock_outline</i>
                    </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left mb-0">
                    <input type="password" class="form-control form-control-lg input-lg"
                           id="password" name="password" placeholder="New Password"
                           th:field="*{newPassword}" required/>
                    <div class="form-control-position">
                        <i class="material-icons">lock_open</i>
                    </div>
                </fieldset>
                <meter max="4" id="password-strength-meter" value="0"></meter>
                <fieldset class="form-group position-relative has-icon-left mb-0">
                    <input type="password" class="form-control form-control-lg input-lg"
                           id="confirm-password" name="confirm_password"
                           placeholder="Retype New Password"
                           th:field="*{confirmPassword}" required/>
                    <div class="form-control-position">
                        <i class="material-icons">lock_open</i>
                    </div>
                </fieldset>
                <div id="password-status" class="capsule p-small m-1 text-xs-center">Please enter all required fields</div>
                <div class="password-suggestions" style="display: none">
                    <div id="warning-wrapper" class="bg-danger text-xs-center"><strong>Warning! </strong><span id="warning"></span></div>
                    <div id="suggestions-wrapper">
                        <ul id="suggestions"></ul>
                    </div>
                </div>
                <div th:each="error : ${#fields.detailedErrors('*')}">
                    <div th:replace="fragments/layout :: error(condition = true, error = ${error})"></div>
                </div>
                <div th:each="error : ${pass_errors}">
                    <div th:replace="fragments/layout :: error(condition = true, error = ${error})"></div>
                </div>
                <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="icon-unlock2"></i> Change Password
                </button>
                <br>
            </form>
            <div class="text-xs-center">
                <a th:href="@{/profile}">
                    <button class="btn btn-primary">Profile</button>
                </a>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/webjars/jquery-throttle-debounce-plugin/jquery.ba-throttle-debounce.min.js}"></script>
<script th:inline="javascript">
    var PageDetails = {
        blacklisted: [[${blacklist}]]
    }
</script>
<script th:src="@{/js/change-password.js}"></script>
</html>
