<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="container"
      th:include="fragments/login :: login(page_title = 'Forgot Password', message = 'Forgot Password')" lang="en"
      data-textdirection="ltr" class="loading">
<div class="card-body collapse in">
    <div class="card-block">
        <form class="form-horizontal form-simple" action="#" th:action="@{/login/password/forgot}" method="post">
            Please enter the registered email ID:<br><br>
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="text" class="form-control form-control-lg input-lg" id="email" name="email" placeholder="Email ID" th:required="required" />
                <div class="form-control-position">
                    <i class="material-icons">mail_outline</i>
                </div>
            </fieldset>
            <br/>
            <span class="text-danger">Please note that we won't be sending reset link if you have not registered and verified your email ID</span><br><br>
            <div th:if="${error}" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>ERROR!</strong>
                <div th:text="${error}"></div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="material-icons">lock_open</i> Send Reset Link</button>
        </form>
    </div>
</div>
</html>
