<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-textdirection="ltr" class="loading">
<th:block th:fragment="container" th:include="fragments/login :: login(page_title = 'ZHCET Login', message = 'Login with ZHCET')">
    <div class="card-body collapse in">
        <div class="card-block">
            <form class="form-horizontal form-simple" action="#" th:action="@{/login}" method="post">
                <fieldset class="form-group position-relative has-icon-left mb-0">
                    <input type="text" class="transparent form-control form-control-lg input-lg" id="username"
                           name="username" placeholder="Your User ID" required/>
                    <div class="form-control-position">
                        <i class="material-icons md-24 md-dark">account_circle</i>
                    </div>
                </fieldset>
                <fieldset class="form-group position-relative has-icon-left">
                    <input type="password" class="transparent form-control form-control-lg input-lg" id="password"
                           name="password" placeholder="Enter Password" required/>
                    <div class="form-control-position">
                        <i class="material-icons md-24 md-dark">vpn_key</i>
                    </div>
                </fieldset>
                <!--/*@thymesVar id="otp_required" type="Boolean"*/-->
                <label for="2fa-enabled" class="flex-center hover-cursor">
                    <input type="checkbox" id="2fa-enabled" th:checked="${otp_required != null && otp_required}" />
                    <small>Have 2 Factor Authentication?</small>
                    <i class="material-icons md-18 gray"
                        data-toggle="popover" data-trigger="hover" data-original-title="2 Factor Authentication"
                        data-content="If you have enabled 2 Factor Authentication in account settings, please check the box to enter the OTP">info_outline</i>
                </label>
                <div id="totp-panel" th:style="|display: ${otp_required != null ? 'block' : 'none'}|">
                    <fieldset class="form-group position-relative has-icon-left">
                        <input type="text" class="transparent form-control form-control-lg input-lg" id="totp"
                               name="totp" placeholder="Enter OTP" />
                        <div class="form-control-position">
                            <i class="material-icons md-24 md-dark">security</i>
                        </div>
                        <br>
                        <small class="flex-center">
                            <i class="material-icons md-18 gray">info_outline</i>
                            <span>Please open <a href="https://support.google.com/accounts/answer/1066447?hl=en" target="_blank">Google Authenticator</a>
                            or <a href="https://authy.com/" target="_blank">Authy</a> app and enter the OTP for ZHCET</span>
                        </small>
                        <small class="flex-center info-box" th:if="${otp_required == null || !otp_required}">
                            <i class="material-icons md-18">lightbulb_outline</i>
                            <span>Please ignore if you haven't enabled 2 Factor Authentication</span>
                        </small>
                    </fieldset>
                </div>

                <fieldset class="form-group row">
                    <div class="col-md-6 col-xs-12 text-xs-center text-md-left">
                        <fieldset>
                            <input type="checkbox" id="remember-me" name="remember-me" class="chk-remember"/>
                            <label for="remember-me"> Remember Me</label>
                        </fieldset>
                    </div>
                    <div class="col-md-6 col-xs-12 text-xs-center text-md-right">
                        <a href="forgot_password.html" th:href="@{/login/password/forgot}" class="card-link">Forgot Password?</a>
                    </div>
                </fieldset>
                <div th:if="${param.error}" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div th:utext="${login_error}">Username and Password does not match any user</div>
                </div>
                <div th:if="${param.logout}" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Logged out successfully
                </div>
                <div th:if="${param.invalid_token}" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div>User bearing this token is not registered with the site</div>
                </div>
                <div th:if="${remember_error}" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div th:utext="${remember_error}">Username and Password does not match any user</div>
                </div>
                <div th:if="${reset_success}" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Reset!</strong> Password successfully reset!<br/>
                </div>
                <div th:if="${reset_link_sent}" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Sent!</strong> Password reset link has been sent successfully to your email!
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
            </form>
            <div class="text-xs-center p-1" th:if="${@firebaseService.canProceed()}">
                <div id="checking" style="display: none">
                    <div id="loader-message">Checking existing login...</div>
                    <div class="md-progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
                <div id="login-panel">
                    <button id="google-login" class="btn btn-secondary">
                        <img class="avatar" src="https://developers.google.com/identity/sign-in/g-normal.png" alt="G">
                    </button>
                </div>
                <form class="firebase-token-form" th:action="@{/login:firebase}" method="post" hidden>
                    <input type="text" name="firebase_token" value="">
                </form>
            </div>
        </div>
    </div>
</th:block>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/vendor/pace.min.js}" type="text/javascript"></script>
<div th:replace="fragments/scripts :: backstretch"></div>
<script th:src="@{/js/app.js}"></script>
<div th:replace="fragments/scripts :: firebase_login"></div>
<script th:src="@{/js/login.js}"></script>
<script>
    (function () {
        Login.startLoginFlow();

        var totpPanel = $('#totp-panel');
        $('#2fa-enabled').on('change', function () {
            this.checked ? totpPanel.show() : totpPanel.hide();
        });

        $('[data-toggle="popover"]').popover();
    })();
</script>
</html>