<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<style>
    .title, .title > p {
        padding: 0;
        margin: 0;
    }

    .new {
        background-color: #DCEDC8;
    }

    .card-header {
        min-height: 55px;
    }

    .fav {
        padding: 0 0 5px 0;
    }
</style>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'profile')" sec:authorize="isAuthenticated()">
    <!--/*@thymesVar id="notifications" type="java.util.List"*/-->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div th:replace="fragments/toolbar"></div>

                <div th:replace="fragments/flash :: success(condition = ${notification_success}, message = ${notification_success})"></div>

                <div class="col-xs-12" th:unless="${notifications.isEmpty()}">
                    <div class="float-xs-right">
                        <a th:href="@{/notifications}" th:if="${favorite_page}">
                            <button class="btn btn-round text-white bg-primary">All Notifications</button>
                        </a>
                        <a th:href="@{/notifications/favorite}" th:unless="${favorite_page}">
                            <button class="btn btn-round text-white" style="background-color: #E91E63">Favorites</button>
                        </a>
                        <form th:action="@{/notifications/mark/read}" method="get" style="display: inline-block">
                            <input type="text" name="page" th:value="${currentPage}" hidden>
                            <button type="submit" class="btn btn-round text-white bg-success">Mark all as read</button>
                        </form>
                    </div>
                </div>

                <div th:replace="fragments/pagination(pageUrl = 'notifications')"></div>

                <!--/*@thymesVar id="notificationRecipient" type="amu.zhcet.notification.recipient.NotificationRecipient"*/-->

                <div th:if="${notifications.isEmpty()}" class="text-xs-center text-muted">
                    <h3>No notifications</h3>
                </div>

                <div th:each="notificationRecipient : ${notifications}" class="row">
                    <div class="col-xs-12">
                        <div class="card">
                            <div th:class="|card-header ${notificationRecipient.seen ? '' : 'new'}|">
                                <h4 class="title" th:utext="${@markDownService.render(notificationRecipient.notification.title)}"></h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li>
                                            <form method="get" th:action="@{|/notifications/${notificationRecipient.id}/${notificationRecipient.favorite ? 'unmark' : 'mark'}/favorite|}">
                                                <input type="text" name="page" th:value="${currentPage}" hidden>
                                                <button type="submit" class="fav btn btn-icon btn-pure">
                                                    <i th:class="${notificationRecipient.favorite ? 'icon-star-full' : 'icon-star-empty'}"></i>
                                                </button>
                                            </form>
                                        </li>
                                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block" th:utext="${@markDownService.render(notificationRecipient.notification.message)}"></div>
                            </div>
                            <blockquote class="mb-2">
                                <span>From : <code th:text="${notificationRecipient.notification.sender.name}"></code>
                                    <span th:if="${notificationRecipient.notification.automated}">
                                        <i data-toggle="tooltip" data-original-title="Automated" class="icon-asterisk"></i>
                                    </span>
                                </span>
                                <small class="float-xs-right"><em style="vertical-align: bottom" th:text="${#temporals.format(notificationRecipient.notification.sentTime)}"></em></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div th:replace="fragments/pagination(pageUrl = 'notifications')"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
