<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'profile')" sec:authorize="isAuthenticated()">
    <!--/*@thymesVar id="student" type="amu.zhcet.data.user.student.Student"*/-->
    <!--/*@thymesVar id="user" type="amu.zhcet.data.user.User"*/-->

    <div class="col-xs-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2" th:with="hide_warnings = true">
        <div th:replace="fragments/toolbar"></div>
        <div th:replace="user/fragments/button_panel"></div>
        <div th:replace="user/fragments/password_notice"></div>
    </div>

    <div th:replace="user/fragments/email_verification"></div>

    <div class="col-xs-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
        <div th:replace="user/fragments/profile_form"></div>
    </div>
</div>
<script th:src="@{/js/file-uploader.js}"></script>
<div th:replace="fragments/scripts :: firebase_auth"></div>
<script th:src="@{/js/authentication.js}"></script>
<script>
    $('.file-uploader').initUpload({
        fileTypes: ['image/png', 'image/jpeg', 'image/jpg', 'image/bmp', 'image/gif'],
        error: function (message) {
            toastr.error(message);
        }
    });

    Authentication.auth.init();
</script>
<script th:src="@{/js/link-account.js}"></script>
</body>
</html>
