<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en" data-textdirection="ltr" class="loading">
<th:block th:fragment="container" th:include="fragments/login :: login(page_title = 'Reset Password', message = 'Reset Password')">
<div class="card-body collapse in">
    <div class="card-block">
        <!--/*@thymesVar id="password" type="amu.zhcet.auth.password.PasswordReset"*/-->
        <form th:if="${error == null}" sec:authorize="hasAuthority('PASSWORD_CHANGE_PRIVILEGE')"
              class="form-horizontal form-simple" action="#"
              th:action="@{/login/password/reset}" method="post"
              th:object="${password}">
            <input type="hidden" name="id" th:field="*{hash}">
            <input type="hidden" name="token" th:field="*{token}">
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="password" placeholder="New Password"
                       data-validation-callback-callback="zxcvbn_callback"
                       th:field="*{newPassword}" minlength="8" required/>
                <div class="form-control-position">
                    <i class="material-icons">lock_open</i>
                </div>
                <div class="suggestions" style="display: none">
                    <div class="md-progress" style="margin-bottom: 3px;">
                        <div id="password-progress" class="determinate"></div>
                    </div>
                    <div id="weakness-status" style="display: none">
                        <span id="status-text">No status</span>
                        <i id="weakness-report" class="material-icons helper" data-toggle="popover" title="Password Weakness Information"
                           data-placement="bottom" data-html="true"
                           data-content="Some content <strong>poop</strong> inside the popover">info_outline</i>
                    </div>
                </div>
                <p class="help-block"></p>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="confirm-password"
                       placeholder="Retype New Password"
                       data-validation-match-match="newPassword"
                       th:field="*{confirmPassword}" minlength="8" required/>
                <div class="form-control-position">
                    <i class="material-icons">lock_open</i>
                </div>
                <p class="help-block"></p>
            </fieldset>
            <div th:each="error : ${#fields.detailedErrors('*')}">
                <div th:replace="fragments/flash :: error(condition = true, error = ${error})"></div>
            </div>
            <div th:each="error : ${pass_errors}">
                <div th:replace="fragments/flash :: error(condition = true, error = ${error})"></div>
            </div>
            <div th:if="${success}" class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Reset!</strong>
                <div th:text="${success}"></div>
            </div>
            <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block">
                <i class="material-icons">lock_open</i> Reset Password
            </button>
        </form>
        <div th:if="${error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            <strong>ERROR!</strong>
            <div th:text="${error}"></div>
        </div>
    </div>
</div>
</th:block>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/vendor/jqBootstrapValidation.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:inline="javascript">
    var PageDetails = {
        blacklisted: [[${blacklist}]]
    }
</script>
<script th:src="@{/js/change-password.js}"></script>
</html>
