<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en" data-textdirection="ltr" class="loading">
<th:block th:fragment="container" th:include="fragments/login :: login(page_title = 'Reset Password', message = 'Reset Password')">
<div class="card-body collapse in">
    <div class="card-block">
        <!--/*@thymesVar id="password" type="in.ac.amu.zhcet.data.model.dto.PasswordReset"*/-->
        <form th:if="${error == null}" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')"
              class="form-horizontal form-simple" action="#"
              th:action="@{/login/password/reset}" method="post"
              th:object="${password}">
            <input type="hidden" name="id" th:field="*{id}">
            <input type="hidden" name="token" th:field="*{token}">
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="password" name="password" placeholder="Password"
                       th:required="required" th:field="*{newPassword}"/>
                <div class="form-control-position">
                    <i class="material-icons">lock_open</i>
                </div>
            </fieldset>
            <meter max="4" id="password-strength-meter" value="0"></meter>
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="confirm-password" name="confirm_password"
                       placeholder="Retype Password" th:required="required"
                       th:field="*{confirmPassword}"/>
                <div class="form-control-position">
                    <i class="material-icons">lock_open</i>
                </div>
            </fieldset>
            <div id="password-status" class="capsule m-1 text-xs-center">Please enter all required fields</div>
            <div class="password-suggestions" style="display: none">
                <div id="warning-wrapper" class="bg-danger text-xs-center"><strong>Warning! </strong><span id="warning"></span></div>
                <div id="suggestions-wrapper">
                    <ul id="suggestions"></ul>
                </div>
            </div>
            <div th:each="error : ${pass_errors}" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div th:text="${error}"></div>
            </div>
            <div th:if="${success}" class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Reset!</strong>
                <div th:text="${success}"></div>
            </div>
            <button id="submit" type="submit" class="btn btn-primary btn-lg btn-block" disabled>
                <i class="icon-unlock2"></i> Reset Password
            </button>
        </form>
        <div th:if="${error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            <strong>ERROR!</strong>
            <div th:text="${error}"></div>
        </div>
    </div>
</div>
</th:block>
<script src="/webjars/jquery-throttle-debounce-plugin/jquery.ba-throttle-debounce.min.js"></script>
<script th:src="@{/js/change-password.js}"></script>
</html>
