<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns fixed-navbar">
<nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow" th:fragment="header">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                    <a class="nav-link nav-menu-main menu-toggle hidden-xs"> <i class="icon-menu5 font-large-1"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/}" class="navbar-brand nav-link">
                        <img
                                alt="branding logo"
                                src="https://zhcet-backend.firebaseapp.com/static/img/logo-big.png"
                                data-expand="https://zhcet-backend.firebaseapp.com/static/img/logo-big.png"
                                data-collapse="https://zhcet-backend.firebaseapp.com/static/img/icon.png"
                                class="brand-logo"/>
                    </a>
                </li>
                <li class="nav-item hidden-md-up float-xs-right">
                    <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                        <i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content container-fluid">
            <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                <ul class="nav navbar-nav">
                    <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"> </i></a></li>
                    <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                </ul>
                <ul class="nav navbar-nav float-xs-right" sec:authorize="isAuthenticated()">
                    <li class="dropdown dropdown-notification nav-item">
                        <a href="#" data-toggle="dropdown" class="nav-link nav-link-label"><i class="ficon icon-bell4"></i>
                            <span id="notification-count" class="tag tag-pill tag-default tag-danger tag-default tag-up" th:text="${@notificationReadingService.getUnreadNotificationCount()}"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <li class="dropdown-menu-header">
                                <h6 class="dropdown-header m-0">
                                    <span class="grey darken-2">Notifications</span>
                                    <!-- TODO: Add icons to notifications -->
                                    <span id="new-count" class="notification-tag tag tag-default tag-danger float-xs-right m-0" th:text="|${@notificationReadingService.getUnreadNotificationCount()} NEW|"></span>
                                </h6>
                            </li>
                            <li id="notification-panel" class="list-group scrollable-container">
                                <div th:each="notification : ${@notificationReadingService.getUnreadNotifications()}" class="list-group-item">
                                    <div class="media">
                                        <div class="media-left valign-middle"><i class="icon-bell4 icon-bg-circle bg-gray"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading" th:utext="${@markDownService.render(notification.notification.title)}">99% Server load</h6>
                                            <hr>
                                            <p class="notification-text font-small-3 text-muted" th:utext="${@markDownService.render(notification.notification.message)}">Aliquam tincidunt mauris eu risus.</p>
                                            <small>
                                                <blockquote>From <code th:text="${notification.notification.sender.name}">dean</code>
                                                    <span th:if="${notification.notification.automated}"><i class="icon-asterisk"></i></span>
                                                </blockquote>
                                            </small>
                                            <small><span class="media-meta text-muted" th:text="${#temporals.format(notification.notification.sentTime)}">Five hour ago</span></small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer"><a th:href="@{/notifications}" class="dropdown-item text-muted text-xs-center">Read all notifications</a></li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-user nav-item">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                            <span class="avatar avatar-online">
                                <img src="https://zhcet-backend.firebaseapp.com/static/img/account.svg" th:src="${@viewService.getAvatarUrl(#authentication.principal.avatar)}" alt="avatar"/>
                                <i></i>
                            </span>
                            <span class="user-name" sec:authentication="principal.name">John Smith</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" th:href="@{/profile}" class="dropdown-item">
                                <i class="icon-head"></i> Edit Profile
                            </a>
                            <a href="#" th:href="@{/profile/change_password}" class="dropdown-item">
                                <i class="icon-unlock"></i> Change Password
                            </a>
                            <div class="dropdown-divider"></div>
                            <form id="logout-form" th:action="@{/logout}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <a onclick="App.logout()" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script id="notification-template" type="text/x-tmpl">
        <div class="list-group-item">
            <div class="media">
                <div class="media-left valign-middle"><i class="icon-bell4 icon-bg-circle bg-gray"></i></div>
                <div class="media-body">
                    <h6 class="media-heading">{%#o.title%}</h6>
                    <hr>
                    <p class="notification-text font-small-3 text-muted">{%#o.message%}</p>
                    <small><blockquote>From <code>{%=o.sender%}</code></blockquote></small>
                    <small><span class="media-meta text-muted">{%=o.sentTime%}</span></small>
                </div>
            </div>
        </div>
    </script>
</nav>
</body>
</html>