<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765301/zhcet-web/resources/static/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765297/zhcet-web/resources/static/css/bootstrap-extended.min.css" type="text/css" rel="stylesheet"/>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765297/zhcet-web/resources/static/css/app.css" type="text/css" rel="stylesheet"/>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765300/zhcet-web/resources/static/css/icomoon.css" type="text/css" rel="stylesheet"/>
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow" th:fragment="header">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                    <a class="nav-link nav-menu-main menu-toggle hidden-xs"> <i class="icon-menu5 font-large-1"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/}" href="../home.html" class="navbar-brand nav-link">
                        <img
                                alt="branding logo"
                                src="../../static/images/robust-logo-light.png"
                                th:src="@{/images/robust-logo-light.png}"
                                data-expand="../../static/images/robust-logo-light.png"
                                data-collapse="../../static/images/robust-logo-small.png"
                                data-th-attr="data-expand=@{/images/robust-logo-light.png}, data-collapse=@{/images/robust-logo-small.png}"
                                class="brand-logo"/>
                    </a>
                </li>
                <li class="nav-item hidden-md-up float-xs-right"><a data-toggle="collapse" data-target="#navbar-mobile"
                                                                    class="nav-link open-navbar-container"><i
                        class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i></a></li>
            </ul>
        </div>
        <div class="navbar-container content container-fluid">
            <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                <ul class="nav navbar-nav">
                    <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs"><i
                            class="icon-menu5"> </i></a></li>
                    <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i
                            class="ficon icon-expand2"></i></a></li>
                </ul>
                <ul class="nav navbar-nav float-xs-right">
                    <li class="dropdown dropdown-user nav-item">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                            <span class="avatar avatar-online">
                                <img src="../../static/images/avatar-s-1.png" th:src="@{/images/avatar-s-1.png}" alt="avatar"/>
                                <i></i>
                            </span>
                            <span class="user-name">Divy Prakash</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item"><i
                                class="icon-head"></i> Edit Profile</a><a href="#" class="dropdown-item"><i
                                class="icon-mail6"></i> My Inbox</a><a href="#" class="dropdown-item"><i
                                class="icon-clipboard2"></i> Task</a><a href="#" class="dropdown-item"><i
                                class="icon-calendar5"></i> Calender</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" th:href="@{/logout}" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>