<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head th:fragment="head">
    <title th:text="${page_title}">Home</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>

    <meta name="theme-color" content="#673AB7">
    <meta name="msapplication-navbutton-color" content="#673AB7">
    <meta name="apple-mobile-web-app-status-bar-style" content="#673AB7">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="manifest" th:href="@{/js/manifest.json}">

    <link rel="shortcut icon" href="https://zhcet-backend.firebaseapp.com/static/img/icon.png" />

    <link href="/webjars/muicss/dist/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/vendor/bundle.min.css" type="text/css" rel="stylesheet"/>
    <link href="/webjars/toastr/build/toastr.min.css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<th:block th:fragment="wrapper">
    <main class="page-row page-row-expanded">
        <nav th:replace="fragments/header :: header"></nav>
        <div th:replace="fragments/navigation :: navigation"></div>
        <div class="app-content content container-fluid">
            <div class="content-wrapper">
                <div class="content-body">
                    <div th:include="this :: content"></div>
                </div>
            </div>
        </div>
    </main>
    <div class="page-row">
        <footer class="footer footer-static footer-dark navbar-border">
            <p class="clearfix text-muted text-sm-center mb-0 px-2">
                <span class="float-md-left d-xs-block d-md-inline-block" th:text="|Copyright &copy; ${#temporals.year(#temporals.createNow())} ZHCET, All rights reserved.|"></span>
                <span class="float-md-right d-xs-block d-md-inline-block">
                    <a href="/terms" target="_blank">Terms of Services</a> |
                    <a href="/privacy" target="_blank">Privacy Policy</a> |
                    <a href="https://github.com/zhcet-amu/zhcet-web" target="_blank"><i class="icon-github"></i> View Source</a> |
                    <a href="https://github.com/zhcet-amu/zhcet-web/graphs/contributors" target="_blank">Developers</a>
                </span>
            </p>
        </footer>
    </div>
    <div th:replace="fragments/layout :: scripts"></div>
</th:block>

<div class="content-header row" style="margin-bottom: 10px;" th:fragment="toolbar">
    <div class="content-header-left col-md-6 col-xs-12">
        <div th:if="${page_title}">
            <h3 class="content-header-title mb-0" th:text="${page_title}"></h3>
            <p class="text-muted mb-0" th:text="${page_subtitle}"></p>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-xs-12" >
        <h5 class="float-md-right capsule p-small bg-primary text-white text-xs-center" th:text="|Session : ${@configurationService.getSessionName()}|"></h5>
    </div>
    <div class="content-header-lead col-xs-12 mt-1" th:if="${page_description}">
        <p class="lead" th:text="${page_description}"></p>
    </div>
    <!--/*@thymesVar id="page_path" type="in.ac.amu.zhcet.utils.page.PathChain"*/-->
    <div class="breadcrumb-wrapper col-xs-12" th:if="${page_path}">
        <ol class="breadcrumb">
            <li th:each="path: ${page_path.chain}" th:class="|breadcrumb-item ${path.active ? 'active' : ''}|">
                <a th:if="${path.link != null && !path.active}" th:href="${path.link}" th:text="${path.title}"></a>
                <span th:if="${path.link == null || path.active}" th:text="${path.title}"></span>
            </li>
        </ol>
    </div>
    <div th:unless="${hide_warnings}" sec:authorize="isAuthenticated()" class="content-header-lead col-xs-12">
        <div sec:authorize="!principal.emailVerified" class="alert alert-icon-left alert-arrow-left alert-danger bg-danger" role="alert">
            <strong>Verify Email!</strong> Your email is not verified, and hence we can't allow allow you to do many things including changing your password
        </div>
        <div sec:authorize="!principal.passwordChanged" class="alert alert-icon-left alert-arrow-left alert-warning bg-orange" role="alert">
            <strong>Password Unchanged!</strong> You have not changed your password, and it may lead to your account being hacked!
        </div>
    </div>
</div>

<div th:fragment="uploader" class="file-uploader text-xs-center">
    <div class="file-container">
        <label class="btn btn-primary" th:for="${id}">
            <input class="upload-input" th:id="${id}" type="file" name="file" style="display: none"
                   th:accept="${upload_types == null ? 'text/csv, .csv' : upload_types}">
            <span th:text="${btn_choose == null ? 'Choose' : btn_choose}">Choose</span>
        </label>
        <div>
            <span class="file-name capsule p-small hidden"></span>
            <span class="file-size capsule p-small hidden"></span>
        </div>
    </div>
    <div class="row upload-btn hidden" style="text-align: center;">
        <button type="submit" class="mui-btn mui-btn--fab mui-btn--primary"><i class="material-icons md-24 md-light">file_upload</i>
        </button>
    </div>
</div>

<div th:fragment="error" th:if="${condition}" class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:if="${error_title}" th:text="${error_title}"></strong>
    <div th:utext="${error}">Fix this and try and try again</div>
</div>

<div th:fragment="success" th:if="${condition}" class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:if="${success_title}" th:text="${success_title}"></strong>
    <span th:utext="${message}">Fix this and try and try again</span>
</div>

<div th:fragment="pagination" class="text-xs-center pages">
    <!--/*@thymesVar id="currentPage" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="minPage" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="maxPage" type="java.lang.Integer"*/-->
    <!--/*@thymesVar id="pageUrl" type="java.lang.String"*/-->
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-round">
            <li th:class="|page-item ${currentPage <= minPage ? 'disabled' : ''}|">
                <a class="page-link" th:href="@{|/${pageUrl}|(page=${currentPage - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:each="num : ${#numbers.sequence(minPage, maxPage)}" th:class="|page-item ${currentPage == num ? 'active' : ''}|">
                <a class="page-link" th:href="@{|/${pageUrl}|(page=${num})}" th:text="${num}">1</a>
            </li>
            <li th:class="|page-item ${currentPage >= maxPage ? 'disabled' : ''}|">
                <a class="page-link" th:href="@{|/${pageUrl}|(page=${currentPage + 1})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<th:block th:fragment="backstretch">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js" type="text/javascript"></script>
</th:block>

<th:block th:fragment="typeahead">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
</th:block>

<th:block th:fragment="data_details">
    <script src="/webjars/momentjs/min/moment.min.js"></script>
    <script src="/webjars/jquery-throttle-debounce-plugin/jquery.ba-throttle-debounce.min.js"></script>
</th:block>

<!-- DataTables -->
<th:block th:fragment="datatables">
    <link href="/webjars/datatables/css/dataTables.bootstrap4.min.css" type="text/css" rel="stylesheet"/>
    <script src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/webjars/datatables/js/dataTables.bootstrap4.min.js"></script>
</th:block>

<th:block th:fragment="datatables_export">
    <link href="/webjars/datatables-buttons/css/buttons.dataTables.min.css" rel="stylesheet" \>
    <link href="/webjars/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <script src="/webjars/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/webjars/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/webjars/datatables-buttons/js/buttons.flash.min.js"></script>
    <script src="/webjars/jszip/jszip.min.js"></script>
    <script src="/webjars/pdfmake/build/pdfmake.min.js"></script>
    <script src="/webjars/pdfmake/build/vfs_fonts.js"></script>
    <script src="/webjars/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/webjars/datatables-buttons/js/buttons.print.min.js"></script>
</th:block>

<th:block th:fragment="datatables_select">
    <link href="/webjars/datatables.net-select-bs/css/select.bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/datatables.net-select/js/dataTables.select.min.js"></script>
</th:block>

<!-- Firebase -->
<th:block th:fragment="firebase">
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
</th:block>

<th:block th:fragment="firebase_auth">
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>
</th:block>

<th:block th:fragment="firebase_login">
    <div th:replace="this :: firebase"></div>
    <div th:replace="this :: firebase_auth"></div>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-database.js"></script>
    <script th:src="@{/js/config.js}"></script>
    <script th:src="@{/js/authentication.js}"></script>
</th:block>

<th:block th:fragment="firebase_messaging">
    <div th:replace="this :: firebase"></div>
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-messaging.js"></script>
    <script th:src="@{/js/config.js}"></script>
    <script th:src="@{/js/messaging.js}"></script>
</th:block>

<th:block th:fragment="scripts">
    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/vendor/bundle.min.js" type="text/javascript"></script>
    <script src="/webjars/muicss/dist/js/mui.min.js"></script>
    <script src="/webjars/toastr/build/toastr.min.js"></script>
    <script th:src="@{/js/app.js}" type="text/javascript"></script>
    <link href="/css/vendor/icomoon.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <div th:replace="this :: firebase_messaging"></div>
</th:block>
</body>
</html>