<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title th:text="${page_title}">Home</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>

    <meta name="theme-color" content="#673AB7">
    <meta name="msapplication-navbutton-color" content="#673AB7">
    <meta name="apple-mobile-web-app-status-bar-style" content="#673AB7">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="manifest" th:href="@{/js/manifest.json}">

    <link rel="shortcut icon" href="/img/icon.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link th:href="@{/webjars/mui/packages/cdn/css/mui.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/vendor/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/vendor/bootstrap-extended.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor/components.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/vendor/vertical-menu.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/elements.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<th:block th:fragment="wrapper">
    <nav th:replace="fragments/header :: header"></nav>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-body">
                <div th:include="this :: content"></div>
            </div>
        </div>
    </div>
    <footer class="footer footer-static footer-dark navbar-border">
        <p class="clearfix text-muted text-sm-center mb-0 px-2" style="font-size: smaller">
            <span class="float-md-left d-xs-block d-md-inline-block" th:text="|Copyright &copy; ${#temporals.year(#temporals.createNow())} ZHCET, All rights reserved.|"></span>
            <span class="float-md-right d-xs-block d-md-inline-block">
                <a th:href="@{/terms}" target="_blank">Terms of Services</a> |
                <a th:href="@{/privacy}" target="_blank">Privacy Policy</a> |
                <a href="https://github.com/zhcet-amu/zhcet-web" target="_blank"><i class="material-icons">code</i> View Source</a> |
                <a href="https://github.com/zhcet-amu/zhcet-web/graphs/contributors" target="_blank">Developers</a>
            </span>
        </p>
    </footer>
    <div th:replace="fragments/scripts :: scripts"></div>
</th:block>

</body>
</html>