<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title th:text="${page_title}">Home</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>

    <meta name="theme-color" content="#673AB7">
    <meta name="msapplication-navbutton-color" content="#673AB7">
    <meta name="apple-mobile-web-app-status-bar-style" content="#673AB7">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106215806-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)}
        gtag('js', new Date());

        gtag('config', 'UA-106215806-1');
    </script>

    <link rel="shortcut icon" href="https://zhcet-backend.firebaseapp.com/static/img/icon.png" />

    <link href="//cdn.muicss.com/mui-0.9.18/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://zhcet-backend.firebaseapp.com/static/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://zhcet-backend.firebaseapp.com/static/css/bootstrap-extended.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://zhcet-backend.firebaseapp.com/static/css/app.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://zhcet-backend.firebaseapp.com/static/css/pace.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://zhcet-backend.firebaseapp.com/static/css/vertical-menu.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://zhcet-backend.firebaseapp.com/static/css/vertical-overlay-menu.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://res.cloudinary.com/zhcet/raw/upload/zhcet-web/resources/static/css/icomoon.css" type="text/css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.0/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://zhcet-backend.firebaseapp.com/static/css/switchery.min.css">
    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet"/>
</head>
<body>

<th:block th:fragment="wrapper">
    <main class="page-row page-row-expanded">
        <nav th:replace="fragments/header :: header"></nav>
        <div th:replace="fragments/navigation :: navigation"></div>
        <div class="app-content content container-fluid">
            <div class="content-wrapper">
                <div class="content-body">
                    <div th:include="this :: content"></div>
                </div>
            </div>
        </div>
    </main>
    <div class="page-row">
        <footer class="footer footer-static footer-dark navbar-border">
            <p class="clearfix text-muted text-sm-center mb-0 px-2">
                <span class="float-md-left d-xs-block d-md-inline-block" th:text="|Copyright &copy; ${#temporals.year(#temporals.createNow())} ZHCET, All rights reserved.|"></span>
                <span class="float-md-right d-xs-block d-md-inline-block">
                    <a href="/terms" target="_blank">Terms of Services</a> |
                    <a href="/privacy" target="_blank">Privacy Policy</a> |
                    <a href="https://github.com/zhcet-amu/zhcet-web" target="_blank"><i class="icon-github"></i> View Source</a> |
                    <a href="https://github.com/zhcet-amu/zhcet-web/graphs/contributors" target="_blank">Developers</a>
                </span>
            </p>
        </footer>
    </div>
    <div th:replace="fragments/layout :: scripts"></div>
</th:block>

<th:block th:fragment="export_datatables">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.bootstrap4.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
</th:block>

<div class="content-header row" style="margin-bottom: 10px;" th:fragment="toolbar">
    <div class="content-header-left col-md-6 col-xs-12">
        <div th:if="${page_title}">
            <h3 class="content-header-title mb-0" th:text="${page_title}"></h3>
            <p class="text-muted mb-0" th:text="${page_subtitle}"></p>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-xs-12" >
        <h5 class="float-md-right capsule bg-primary text-white text-xs-center" th:text="|Session : ${@configurationService.getSessionName()}|" style="padding: 10px;"></h5>
    </div>
    <div class="content-header-lead col-xs-12 mt-1" th:if="${page_description}">
        <p class="lead" th:text="${page_description}"></p>
    </div>
    <!--/*@thymesVar id="page_path" type="in.ac.amu.zhcet.utils.page.PathChain"*/-->
    <div class="breadcrumb-wrapper col-xs-12" th:if="${page_path}">
        <ol class="breadcrumb">
            <li th:each="path: ${page_path.chain}" th:class="|breadcrumb-item ${path.active ? 'active' : ''}|">
                <a th:if="${path.link != null && !path.active}" th:href="${path.link}" th:text="${path.title}"></a>
                <span th:if="${path.link == null || path.active}" th:text="${path.title}"></span>
            </li>
        </ol>
    </div>
</div>

<div th:fragment="uploader" class="file-uploader text-xs-center">
    <div class="file-container">
        <label class="btn btn-primary" th:for="${id}">
            <input class="upload-input" th:id="${id}" type="file" name="file" style="display: none"
                   th:accept="${upload_types == null ? 'text/csv, .csv' : upload_types}">
            <span th:text="${btn_choose == null ? 'Choose' : btn_choose}">Choose</span>
        </label>
        <div>
            <span class="file-name capsule hidden"></span>
            <span class="file-size capsule hidden"></span>
        </div>
    </div>
    <div class="row upload-btn hidden" style="text-align: center;">
        <button type="submit" class="mui-btn mui-btn--fab mui-btn--primary"><i class="material-icons md-24 md-light">file_upload</i>
        </button>
    </div>
</div>

<div th:fragment="error" th:if="${condition}" class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:if="${error_title}" th:text="${error_title}"></strong>
    <div th:utext="${error}">Fix this and try and try again</div>
</div>

<div th:fragment="success" th:if="${condition}" class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:if="${success_title}" th:text="${success_title}"></strong>
    <span th:utext="${message}">Fix this and try and try again</span>
</div>

<th:block th:fragment="scripts">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.11/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="https://zhcet-backend.firebaseapp.com/static/js/unison.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/screenfull.js/3.3.1/screenfull.min.js" type="text/javascript"></script>
<script src="https://zhcet-backend.firebaseapp.com/static/js/pace.min.js" type="text/javascript"></script>
<script src="https://zhcet-backend.firebaseapp.com/static/js/app-menu.min.js" type="text/javascript"></script>
<script src="https://zhcet-backend.firebaseapp.com/static/js/app.min.js" type="text/javascript"></script>
<script src="//cdn.muicss.com/mui-0.9.18/js/mui.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.colVis.min.js"></script>
<script src="https://zhcet-backend.firebaseapp.com/static/js/switchery.min.js" type="text/javascript"></script>
<script src="https://zhcet-backend.firebaseapp.com/static/js/switch.min.js" type="text/javascript"></script>
<script th:src="@{/js/file-uploader.js}"></script>
<script th:src="@{/js/app.js}" type="text/javascript"></script>
</th:block>
</body>
</html>