<!DOCTYPE html>
<html lang="en" th:fragment="login" data-textdirection="ltr" class="loading" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="${page_title}">Home</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>

    <meta name="theme-color" content="#673AB7">
    <meta name="msapplication-navbutton-color" content="#673AB7">
    <meta name="apple-mobile-web-app-status-bar-style" content="#673AB7">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="shortcut icon" href="https://zhcet-backend.firebaseapp.com/static/img/icon.png" />

    <link href="/css/vendor/bundle.min.css" type="text/css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet"/>
    <style>
        .transparent {  background-color: transparent;  }
        .translucent {  background-color: rgba(255, 255, 255, 0.9);  }
        .pattern-bg {
            background: #f1f2f3 url("https://zhcet-backend.firebaseapp.com/static/img/zhcet-pattern.png");
            background-size: 340px;  position: fixed;  top: 0;  left: 0;  right: 0;  bottom: 0;  z-index: -2;  opacity: .6;
        }
    </style>
</head>
<body class="blank-page">
<div class="app-content content container-fluid">
    <div class="pattern-bg"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
                    <div class="translucent card border-grey border-lighten-3 m-0">
                        <div class="transparent card-header no-border">
                            <div class="card-title text-xs-center">
                                <div class="p-1"><img src="https://zhcet-backend.firebaseapp.com/static/img/logo-big-dark.png" class="brand-logo" alt="branding logo" /></div>
                            </div>
                            <h6 class="line-on-side transparent text-muted text-xs-center font-small-3 pt-2"><span th:text="${message}"></span></h6>
                        </div>
                        <div th:include="this :: container"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<footer class="footer footer-static footer-dark navbar-border">
    <p class="clearfix text-muted text-sm-center mb-0 px-2">
        <span class="float-md-left d-xs-block d-md-inline-block" th:text="|Copyright &copy; ${#temporals.year(#temporals.createNow())} ZHCET, All rights reserved.|"></span>
        <span class="float-md-right d-xs-block d-md-inline-block">
            <a href="/terms" target="_blank">Terms of Services</a> |
            <a href="/privacy" target="_blank">Privacy Policy</a> |
            <a href="https://github.com/zhcet-amu/zhcet-web" target="_blank"><i class="icon-github"></i> View Source</a> |
            <a href="https://github.com/zhcet-amu/zhcet-web/graphs/contributors" target="_blank">Developers</a>
        </span>
    </p>
</footer>
<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/js/vendor/pace.min.js" type="text/javascript"></script>
<div th:replace="fragments/layout :: backstretch"></div>
<div th:replace="fragments/layout :: firebase"></div>
<script th:src="@{/js/firebase.js}"></script>
<script th:src="@{/js/authentication.js}"></script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
