<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765301/zhcet-web/resources/static/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765297/zhcet-web/resources/static/css/bootstrap-extended.min.css" type="text/css" rel="stylesheet"/>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765297/zhcet-web/resources/static/css/app.css" type="text/css" rel="stylesheet"/>
    <link href="http://res.cloudinary.com/djbajaxrf/raw/upload/v1499765300/zhcet-web/resources/static/css/icomoon.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" th:fragment="navigation">
    <!-- main menu header-->
    <!--div class="main-menu-header">
        <input type="text" placeholder="Search" class="menu-search form-control round"/>
    </div-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="nav-item" sec:authorize="hasRole('ROLE_STUDENT')">
                <a th:href="@{/attendance}" href="attendance.html">
                    <i class="icon-calendar"></i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Attendance</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
                <a th:href="@{/dean}" href="dean.html">
                    <i class="icon-cog"></i>
                    <span data-i18n="nav.project.main" class="menu-title">Dean Panel</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_DEPARTMENT_ADMIN')">
                <a th:href="@{/department}" href="department.html">
                    <i class="icon-cog"></i>
                    <span data-i18n="nav.project.main" class="menu-title">Department Panel</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" href="login.html">
                    <i class="icon-stack-2"></i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Login</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="hasRole('ROLE_FACULTY')">
                <a th:href="@{/faculty/courses}" href="floatedCourse.html">
                    <i class="icon-stack-2"></i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Floated Courses</span>
                </a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}" href="profile.html">
                    <i class="icon-profile"></i>
                    <span data-i18n="nav.project.main" class="menu-title">Profile</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>