<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" th:fragment="navigation">
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li th:class="|nav-item ${pageId == null ? 'active' : ''} |" th:if="${pageId == null}">
                <a th:href="@{/}">
                    <i class="material-icons">home</i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Home</span>
                </a>
            </li>
            <li th:class="|nav-item ${pageId == 'student_attendance' ? 'active' : ''} |" sec:authorize="hasRole('ROLE_STUDENT')">
                <a th:href="@{/dashboard/student/attendance}" href="attendance.html">
                    <i class="material-icons md-18">event</i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Attendance</span>
                </a>
            </li>
            <li th:class="|nav-item ${pageId == 'dean' ? 'active' : ''} |" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
                <a th:href="@{/admin/dean}" href="dean.html">
                    <i class="material-icons md-18">school</i>
                    <span data-i18n="nav.project.main" class="menu-title">Dean Panel</span>
                </a>
                <ul class="menu-content">
                    <li th:class="${subPage == 'dean_admin' ? 'active' : ''}" ><a th:href="@{/admin/dean}" class="menu-item">Administration</a></li>
                    <li th:class="${subPage == 'students_page' ? 'active' : ''}"><a th:href="@{/admin/dean/students}" class="menu-item">Students</a></li>
                    <li th:class="${subPage == 'faculty_page' ? 'active' : ''}"><a th:href="@{/admin/dean/faculty}" class="menu-item">Faculty</a></li>
                    <li th:class="${subPage == 'float_page' ? 'active' : ''}"><a th:href="@{/admin/dean/float}" class="menu-item">Float Course</a></li>
                    <li th:class="${subPage == 'floated_page' ? 'active' : ''}"><a th:href="@{/admin/dean/floated}" class="menu-item">Floated Course</a></li>
                    <li th:class="${subPage == 'config' ? 'active' : ''}"><a th:href="@{/admin/dean/configuration}" class="menu-item">Configuration</a></li>
                    <li th:class="${subPage == 'ui_page' ? 'active' : ''}"><a th:href="@{/admin/dean/ui}" class="menu-item">UI</a></li>
                </ul>
            </li>
            <li th:class="|nav-item ${pageId == 'department' ? 'active' : ''} |" sec:authorize="hasRole('ROLE_DEPARTMENT_ADMIN')">
                <a th:href="@{/admin/department}" href="department.html">
                    <i class="material-icons md-18">account_balance</i>
                    <span data-i18n="nav.project.main" class="menu-title">Department Panel</span>
                </a>
                <ul class="menu-content">
                    <li th:class="${subPage == 'department_admin' ? 'active' : ''}" ><a th:href="@{/admin/department}" class="menu-item">Admin Panel</a></li>
                    <li th:class="${subPage == 'courses' ? 'active' : ''}" ><a th:href="@{|/admin/department/${#authentication.principal.department.code}/courses|}" class="menu-item">Courses</a></li>
                    <li th:class="${subPage == 'add_course' ? 'active' : ''}" ><a th:href="@{|/admin/department/${#authentication.principal.department.code}/course/add|}" class="menu-item">Add Course</a></li>
                    <li th:class="${subPage == 'float_course' ? 'active' : ''}" ><a th:href="@{|/admin/department/${#authentication.principal.department.code}/float|}" class="menu-item">Float Course</a></li>
                </ul>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" href="login.html">
                    <i class="material-icons md-18">lock</i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Login</span>
                </a>
            </li>
            <li th:class="|nav-item ${pageId == 'faculty_courses' ? 'active' : ''} |" sec:authorize="hasRole('ROLE_FACULTY')">
                <a th:href="@{/admin/faculty/courses}" href="floatedCourse.html">
                    <i class="material-icons md-18">library_books</i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">Course Management</span>
                </a>
            </li>
            <li th:class="|nav-item ${pageId == 'notification_management' ? 'active' : ''} |" sec:authorize="hasRole('ROLE_TEACHING_STAFF')">
                <a th:href="@{/management/notification/send}">
                    <i class="material-icons md-18">notifications_active</i>
                    <span data-i18n="nav.project.main" class="menu-title">Notification</span>
                </a>
                <ul class="menu-content">
                    <li th:class="${subPage == 'manage_notification' ? 'active' : ''}" ><a th:href="@{/management/notifications}" class="menu-item">Manage Notifications</a></li>
                    <li th:class="${subPage == 'send_notification' ? 'active' : ''}" ><a th:href="@{/management/notification/send}" class="menu-item">Send Notification</a></li>
                </ul>
            </li>
            <li th:class="|nav-item ${pageId == 'dev' ? 'active' : ''} |" sec:authorize="hasRole('ROLE_DEVELOPMENT_ADMIN')">
                <a th:href="@{/dashboard/dev}">
                    <i class="material-icons md-18">settings</i>
                    <span data-i18n="nav.project.main" class="menu-title">Development</span>
                </a>
            </li>
            <li th:class="|nav-item ${pageId == 'profile' ? 'active' : ''} |" sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}" href="profile.html">
                    <i class="material-icons md-18">account_circle</i>
                    <span data-i18n="nav.project.main" class="menu-title">Profile</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>
