<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
     class="content-header row" style="margin-bottom: 10px;" th:fragment="toolbar">
    <div class="content-header-left col-md-6 col-12">
        <div th:if="${page_title}">
            <h4 class="content-header-title mb-0" th:text="${page_title}"></h4>
            <p class="text-muted mb-0" th:text="${page_subtitle}"></p>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12" th:with="sessionCode = ${sessionCode != null ? sessionCode : @configurationService.getDefaultSessionCode()}">
        <h6 class="float-md-right capsule p-small bg-primary text-white text-center" th:text="|Session : ${@configurationService.getSessionName(sessionCode)}|"></h6>
    </div>
    <div class="content-header-lead col-md-6 col-12 mt-1" th:if="${page_description}">
        <p th:text="${page_description}" style="font-weight: 200; font-size: large"></p>
    </div>
    <!--/*@thymesVar id="page_path" type="amu.zhcet.common.page.PathChain"*/-->
    <div class="breadcrumb-wrapper col-12" th:if="${page_path}">
        <ol class="breadcrumb">
            <li th:each="path: ${page_path.chain}" th:class="|breadcrumb-item ${path.active ? 'active' : ''}|">
                <a th:if="${path.link != null && !path.active}" th:href="${path.link}" th:text="${path.title}"></a>
                <span th:if="${path.link == null || path.active}" th:text="${path.title}"></span>
            </li>
        </ol>
    </div>
    <div th:unless="${hide_warnings}" sec:authorize="isAuthenticated()" class="content-header-lead col-12">
        <div sec:authorize="!principal.emailVerified" class="alert alert-icon-left alert-arrow-left alert-danger bg-danger" role="alert">
            <span class="alert-icon"><i class="material-icons">error</i></span>
            <strong>Verify Email!</strong> Your email is not verified, and hence we can't allow allow you to do many things including changing your password
        </div>
        <div sec:authorize="!principal.passwordChanged" class="alert alert-icon-left alert-arrow-left alert-warning bg-orange" role="alert">
            <span class="alert-icon"><i class="material-icons">warning</i></span>
            <strong>Password Unchanged!</strong> You have not changed your password, and it may lead to your account being hacked!
        </div>
    </div>
    <!--/*@thymesVar id="flash_messages" type="java.util.List"*/-->
    <div class="container" th:if="${flash_messages}">
        <div class="row">
            <!--/*@thymesVar id="flash" type="amu.zhcet.common.flash.Flash"*/-->
            <div th:each="flash : ${flash_messages}" th:class="|col-12 alert alert-dismissible alert-${flash.css}|">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong th:if="${flash.title}" th:text="${flash.title}"></strong>
                <span th:utext="${flash.message}">Fix this and try and try again</span>
            </div>
        </div>
    </div>
</div>