<div xmlns:th="http://www.thymeleaf.org" th:fragment="uploader" class="file-uploader text-xs-center">
    <div class="file-container">
        <label class="btn btn-primary" th:for="${id}">
            <input class="upload-input" th:id="${id}" type="file" name="file" style="display: none"
                   th:accept="${upload_types == null ? 'text/csv, .csv' : upload_types}">
            <span th:text="${btn_choose == null ? 'Choose' : btn_choose}">Choose</span>
        </label>
        <div>
            <span class="file-name capsule p-small hidden"></span>
            <span class="file-size capsule p-small hidden"></span>
        </div>
    </div>
    <div class="row upload-btn hidden" style="text-align: center;">
        <button type="submit" class="mui-btn mui-btn--fab mui-btn--primary"><i class="material-icons md-24 md-light">file_upload</i>
        </button>
    </div>
</div>