<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dev')">
    <div class="col-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
        <div th:replace="fragments/toolbar"></div>

        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Status</h4>
                        <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                                <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div id="status-app">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/build/vendor/Vue.min.js}"></script>
<script th:src="@{/js/build/dev/index.min.js}" type="module"></script>
</body>
</html>