<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="theme-color" content="#f44336">
    <meta name="msapplication-navbutton-color" content="#f44336">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f44336">
    <link rel="shortcut icon" th:href="@{/img/bug.svg}" />
    <title>Internal Error</title>

    <link th:href="@{/css/vendor/bootstrap.min.css}" rel="stylesheet" />
    <style type="text/css">
        .status-icon {
            display: block;
            margin: auto;
            min-height: 30rem;
        }
    </style>
</head>
<body>
<img class="status-icon img-fluid" th:src="@{/img/bug.svg}" />
<div class="text-center">
    <p class="lead">This should not have happened! Developers have been notified of this error. Sorry for the inconvenience!</p>

    <a th:href="@{/}"><button class="btn btn-primary">Home</button></a>
</div>
</body>
</html>