.list {
    list-style-type: none;
}

.type {
    background-color: #E1BEE7;
    font-weight:100;
}

.type > span {
    padding-right: 8px;
}

.card-header.course-header {
    background-color: #eee;
}

.card-header.course-header.floated-title {
    background-color: #C8E6C9;
}

.card-header.course-header.inactive-title {
    background-color: #ffcdd2;
}

.course-title:hover {
    color: #304FFE;
}

.badge {
    margin: 0.5rem 0;
}