hr {
    padding: 0;
    margin: 0;
}

.tt-suggestion {
    padding-left: 0;
    padding-right: 0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.pad-top {
    margin-top: 3px;
}

.in-charge {
    padding-top: 10px;
}

.in-charge-avatar {
    margin-left: 10px;
}

.avatar-img {
    max-height: 30px;
    margin: 5px;
    background-color: white;
}

.faculty-id {
    font-size: small;
    margin: 0;
}

.department {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: small;
    float: right;
    margin-right: 5px;
}

.section-select {
    display: inline-block;
}

.mui-select>select {
    width: auto;
}

.new {
    background-color: #DCEDC8;
}

i.remove-student {
    margin-left: 1rem;
    display: none;
    cursor: pointer;
    padding: 0.5rem;
    color: #f55a4e;
}

i.remove-student:hover {
    background-color: rgba(33, 33, 33, 0.1);
    border-radius: 2rem;
}

.student-row:hover {
    background-color: rgba(33, 33, 33, 0.05);
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(119,119,119,0.25);
    -moz-box-shadow: 0px 0px 5px 1px rgba(119,119,119,0.25);
    box-shadow: 0px 0px 5px 1px rgba(119,119,119,0.25);
}

.student-row:hover i.remove-student {
    display: inline-block;
}

#delete-link {
    display: inline-block;
}