table td {
    vertical-align: middle !important;
}

.bg-danger {
    color: #eee
}

.bg-success {
    color: #eee;
}

.capsule {
    margin-left: 5px;
    padding: 7px;
    background-color: #ddd;
    border-radius: 30px;
}

.align-middle {
    vertical-align: middle;
}

.material-icons {
    vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 0.95); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
