table td {
    vertical-align: middle !important;
}

.bg-danger {
    color: #eee
}

.bg-success {
    color: #eee;
}

.brand-logo {
    height: 40px;
    padding-bottom: 5px;
    margin: 0;
}

.capsule {
    padding: 7px;
    background-color: #ddd;
    border-radius: 30px;
}

.align-middle {
    vertical-align: middle;
}

.material-icons {
    vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 0.95); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.file-name, .file-size {
    margin: 5px;
    display: inline-block;
}

.modal-lg {
    max-width: 1200px;
}

.bg-orange {
    background-color: #FF5722;
}

.bg-orange.tag-glow {
    -webkit-box-shadow: 0 0 10px #FF5722;
    box-shadow: 0 0 10px #FF5722;
}

.bg-pink {
    background-color: #E91E63;
}

.bg-pink.tag-glow {
    -webkit-box-shadow: 0 0 10px #E91E63;
    box-shadow: 0 0 10px #E91E63;
}

.twitter-typeahead {
    width: 100%;
}

.tt-menu, .ui-menu {
    width: 100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.tt-suggestion, .ui-menu-item {
    display: block;
    padding: 6px 20px;
}

.tt-suggestion:hover, .ui-menu-item:hover {
    background-color: #673AB7;
    color: white;
    cursor: pointer;
}

.bs-callout-primary,.bs-callout-primary.callout-transparent{display:block;border-color:#967ADC!important;border-radius:.25rem}.climacon-primary.climacon-lighten-5 .climacon_component-stroke{fill:#F1EBFF}.climacon-primary.climacon-lighten-4 .climacon_component-stroke{fill:#E9E3F8}.climacon-primary.climacon-lighten-3 .climacon_component-stroke{fill:#BCAAE9}.climacon-primary.climacon-lighten-2 .climacon_component-stroke{fill:#AC92EC}.climacon-primary.climacon-lighten-1 .climacon_component-stroke{fill:#A992E2}.bs-callout-primary{background-color:#fcfbfe;color:#211245}.bs-callout-primary h1,.bs-callout-primary h2,.bs-callout-primary h3,.bs-callout-primary h4,.bs-callout-primary h5,.bs-callout-primary h6{margin-top:0;color:#967ADC}.bs-callout-primary .highlight,.bs-callout-primary code{background-color:#fff}.bs-callout-primary.callout-transparent{background-color:transparent;color:#211245}.bs-callout-primary.callout-transparent h1,.bs-callout-primary.callout-transparent h2,.bs-callout-primary.callout-transparent h3,.bs-callout-primary.callout-transparent h4,.bs-callout-primary.callout-transparent h5,.bs-callout-primary.callout-transparent h6{margin-top:0;color:#967ADC}.bs-callout-primary.callout-transparent .highlight,.bs-callout-primary.callout-transparent code{background-color:#fff}.bs-callout-primary .callout-arrow-left:before{border-left-color:#967ADC}.bs-callout-primary .callout-arrow-right:before{border-right-color:#967ADC}

td.avatar-cell {
    padding: 5px;
}

td.date-cell {
    font-size: 13px;
}

.blue-dark {
    background-color: #304FFE;
    color: white;
}

.pink-dark {
    background-color: #E91E63;
    color: white;
}

i.helper {
    margin-top: -4px;
    font-size: 18px;
    cursor: pointer;
}