html, body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
}

table td {
    vertical-align: middle !important;
}

.hover-cursor:hover {
    cursor: pointer;
}

.bg-danger, .bg-success {
    color: #eee;
}

.brand-logo {
    height: 40px;
    padding-bottom: 5px;
    margin: 0;
}

.border-rounded-15 {
    border-radius: 15px;
}

.inv-margin {
    margin: -10px;
}

.email-status {
    border-radius: 5px;
    padding: 5px;
}

.email-status > i {
    padding-bottom: 2px;
}

.capsule {
    background-color: #ddd;
    border-radius: 1.8rem;
}

.capsule.p-small {
    padding: 0.4375rem;
}

.capsule.p-medium {
    padding: 0.625rem;
}

.join {
    padding: 0.4375rem 0;
    border-radius: 2rem;
    background-color: rgba(206, 147, 216, 0.3)
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center > * {
    padding: 3px;
}

.info-box {
    background-color: #FFF9C4;
    border-radius: 3px;
    color: rgba(0, 0, 0, .7);
}

.align-middle, .material-icons {
    vertical-align: middle;
}

.dropdown .dropdown-menu button.dropdown-item {
    cursor: pointer;
    width: 100%;
}

.file-name, .file-size {
    margin: 5px;
    display: inline-block;
}

.modal-lg {
    max-width: 1200px;
}

td.avatar-cell {
    padding: 5px;
}

th.avatar-cell {
    padding: 0;
    width: 0;
}

td.date-cell {
    font-size: 0.8rem;
}

i.helper {
    margin-top: -4px;
    font-size: 18px;
    cursor: pointer;
}

.dt-button.buttons-columnVisibility.active {
    color: black;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 0.95); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.footer-dark a {  color: #B39DDB;  }
.footer-dark a:hover {  color: #D1C4E9;  }
.footer-dark a:visited {  color: #9575CD;  }

.page-row {
    display: table-row;
    height: 1px;
}

.page-row-expanded { height: 100%; }

a.md-header-link {
    text-decoration: none;
    color: black;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

small > blockquote {
    margin-bottom: 10px;
}

i.gray {
    color: #777;
}

.margin-b-small {
    margin-bottom: 4px;
}

#toast-container {
    margin-top: 60px;
}
