html,
body {
    height: 100%;
    font-size: 16px;
}

body {
    display: table;
    width: 100%;
}

table td {
    vertical-align: middle !important;
}

.bg-danger {
    color: #eee
}

.bg-success {
    color: #eee;
}

.brand-logo {
    height: 40px;
    padding-bottom: 5px;
    margin: 0;
}

.capsule {
    background-color: #ddd;
    border-radius: 1.8rem;
}

.capsule.p-small {
    padding: 0.4375rem;
}

.capsule.p-medium {
    padding: 0.625rem;
}

.badge {
    padding: 0 0.3rem;
    margin: 0.1rem;
    display: inline-block;
    border-radius: 0.4rem;
    font-weight: 600;
    color: #607D8B;
    background-color: #ECEFF1;
    border: 2px solid #607D8B;
}

.badge > .badge-content {
    padding: 0.8rem 0.5rem;
    color: white;
    border-radius: .3rem;
}

.badge.badge-info {
    color: #03A9F4;
    background-color: #E1F5FE;
    border: 2px solid #03A9F4;
}

.badge.badge-info > .badge-content {
    background-color: #03A9F4;
}

.badge.badge-success {
    color: #00E676;
    background-color: #d5ffe2;
    border: 2px solid #00E676;
}

.badge.badge-success > .badge-content {
    background-color: #00E676;
}

.badge.badge-danger {
    color: #f44336;
    background-color: #ffebee;
    border: 2px solid #f44336;
}

.badges > .badge > i {
    margin-bottom: 0.1rem;
}

.join {
    padding: 0.4375rem 0;
    border-radius: 2rem;
    background-color: rgba(206, 147, 216, 0.3)
}

.align-middle {
    vertical-align: middle;
}

.material-icons {
    vertical-align: middle;
}

.dropdown .dropdown-menu button.dropdown-item {
    cursor: pointer;
    width: 100%;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 0.95); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.file-name, .file-size {
    margin: 5px;
    display: inline-block;
}

.modal-lg {
    max-width: 1200px;
}

.bg-gray {
    background-color: #777;
}

.bg-orange {
    background-color: #FF5722;
}

.bg-orange.tag-glow {
    -webkit-box-shadow: 0 0 10px #FF5722;
    box-shadow: 0 0 10px #FF5722;
}

.bg-pink {
    background-color: #E91E63;
}

.bg-pink.tag-glow {
    -webkit-box-shadow: 0 0 10px #E91E63;
    box-shadow: 0 0 10px #E91E63;
}

.twitter-typeahead {
    width: 100%;
}

.tt-menu, .ui-menu {
    width: 100%;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.tt-suggestion, .ui-menu-item {
    display: block;
    padding: 6px 20px;
}

.tt-suggestion:hover, .ui-menu-item:hover {
    background-color: #673AB7;
    color: white;
    cursor: pointer;
}

.bs-callout-primary,.bs-callout-primary.callout-transparent{display:block;border-color:#967ADC!important;border-radius:.25rem}.climacon-primary.climacon-lighten-5 .climacon_component-stroke{fill:#F1EBFF}.climacon-primary.climacon-lighten-4 .climacon_component-stroke{fill:#E9E3F8}.climacon-primary.climacon-lighten-3 .climacon_component-stroke{fill:#BCAAE9}.climacon-primary.climacon-lighten-2 .climacon_component-stroke{fill:#AC92EC}.climacon-primary.climacon-lighten-1 .climacon_component-stroke{fill:#A992E2}.bs-callout-primary{background-color:#fcfbfe;color:#211245}.bs-callout-primary h1,.bs-callout-primary h2,.bs-callout-primary h3,.bs-callout-primary h4,.bs-callout-primary h5,.bs-callout-primary h6{margin-top:0;color:#967ADC}.bs-callout-primary .highlight,.bs-callout-primary code{background-color:#fff}.bs-callout-primary.callout-transparent{background-color:transparent;color:#211245}.bs-callout-primary.callout-transparent h1,.bs-callout-primary.callout-transparent h2,.bs-callout-primary.callout-transparent h3,.bs-callout-primary.callout-transparent h4,.bs-callout-primary.callout-transparent h5,.bs-callout-primary.callout-transparent h6{margin-top:0;color:#967ADC}.bs-callout-primary.callout-transparent .highlight,.bs-callout-primary.callout-transparent code{background-color:#fff}.bs-callout-primary .callout-arrow-left:before{border-left-color:#967ADC}.bs-callout-primary .callout-arrow-right:before{border-right-color:#967ADC}
.bs-callout-danger,.bs-callout-danger.callout-transparent{display:block;border-color:#DA4453!important;border-radius:.25rem}.bs-callout-danger{background-color:#f5ccd0;color:#1a0507}.bs-callout-danger h1,.bs-callout-danger h2,.bs-callout-danger h3,.bs-callout-danger h4,.bs-callout-danger h5,.bs-callout-danger h6{margin-top:0;color:#DA4453}.bs-callout-danger .highlight,.bs-callout-danger code{background-color:#fff}.bs-callout-danger.callout-transparent{background-color:transparent;color:#1a0507}.bs-callout-danger.callout-transparent h1,.bs-callout-danger.callout-transparent h2,.bs-callout-danger.callout-transparent h3,.bs-callout-danger.callout-transparent h4,.bs-callout-danger.callout-transparent h5,.bs-callout-danger.callout-transparent h6{margin-top:0;color:#DA4453}.bs-callout-danger.callout-transparent .highlight,.bs-callout-danger.callout-transparent code{background-color:#fff}.bs-callout-danger .callout-arrow-left:before{border-left-color:#DA4453}.bs-callout-danger .callout-arrow-right:before{border-right-color:#DA4453}

td.avatar-cell {
    padding: 5px;
}

td.date-cell {
    font-size: 0.8rem;
}

.blue-dark {
    background-color: #304FFE;
    color: white;
}

.pink-dark {
    background-color: #E91E63;
    color: white;
}

i.helper {
    margin-top: -4px;
    font-size: 18px;
    cursor: pointer;
}

.dt-button.buttons-columnVisibility.active {
    color: black;
}

.footer-dark a {  color: #B39DDB;  }
.footer-dark a:hover {  color: #D1C4E9;  }
.footer-dark a:visited {  color: #9575CD;  }

.page-row {
    display: table-row;
    height: 1px;
}

.page-row-expanded { height: 100%; }

a.md-header-link {
    text-decoration: none;
    color: black;
}

blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

blockquote>:first-child {
    margin-top: 0;
}

blockquote>:last-child {
    margin-bottom: 0;
}

small > blockquote {
    margin-bottom: 10px;
}

i.gray {
    color: #777;
    margin-bottom: 4px;
}

#toast-container {
    margin-top: 60px;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: rgba(0, 0, 0, 0.1) none;
}

meter::-webkit-meter-bar {
    background: rgba(0, 0, 0, 0.1) none;
}

/* Webkit based browsers */
meter[value="1"]::-webkit-meter-optimum-value { background: #f44336; }
meter[value="2"]::-webkit-meter-optimum-value { background: #FF9800; }
meter[value="3"]::-webkit-meter-optimum-value { background: #FFEB3B; }
meter[value="4"]::-webkit-meter-optimum-value { background: #4CAF50; }

/* Gecko based browsers */
meter[value="1"]::-moz-meter-bar { background: #f44336; }
meter[value="2"]::-moz-meter-bar { background: #FF9800; }
meter[value="3"]::-moz-meter-bar { background: #FFEB3B; }
meter[value="4"]::-moz-meter-bar { background: #4CAF50; }

.password-suggestions> #warning-wrapper {
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 0.3rem;
}

.password-suggestions > #suggestions-wrapper {
    background-color: #FF9800;
    border-radius: 0.5rem;
}

/* Progress Bar */
.md-progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    background-color: #acece6;
    border-radius: 2px;
    background-clip: padding-box;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden; }
.md-progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #26a69a;
    transition: width .3s linear; }
.md-progress .indeterminate {
    background-color: #26a69a; }
.md-progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.md-progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }