@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
    font-family: 'Varela Round', 'Roboto', sans-serif;
    background-color: #F3E5F5;
}

.short {
    background-color: crimson;
    color: #fff;
}