<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="html/core :: head"></head>
<body>
<!--/*@thymesVar id="link_message" type="in.ac.amu.zhcet.service.notification.email.data.LinkMessage"*/-->
<div class="content" th:fragment="content" th:include="html/core :: wrapper">
    <td th:fragment="content">
        <p th:utext="|Hi ${link_message.name != null ? link_message.name : 'there'},|">Hi there,</p>
        <p th:utext="${link_message.preMessage}">Sometimes you just want to send a simple HTML email with a simple design and clear call
            to action. This is it.</p>
        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
            <tbody>
            <tr>
                <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr>
                            <td><a th:href="${link_message.link}" target="_blank"><span th:text="|${link_message.linkText != null ? link_message.linkText : 'Click Here'}|">Call to Action</span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <p>If you cannot see or click the button above, please click the link below or carefully copy and paste it in your browser :</p>
        <a th:href="${link_message.link}" th:text="${link_message.link}"></a>
        <p></p>
        <p th:utext="${link_message.postMessage}">This is a really simple email template. Its sole purpose is to get the recipient to click
            the button with no distractions.</p>
        <p>Regards, ZHCET Web Team</p>
        <p>Have a nice day!</p>
    </td>
</div>
</body>
</html>