<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Attendance</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="purple lighten-1">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">ZHCET</a>
        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{/attendance}" href="/attendance">Attendance</a></li>
            <li><a th:href="@{/courses}" href="/courses">Courses</a></li>
        </ul>


        <ul id="nav-mobile" class="side-nav">
            <li><a th:href="@{/attendance}" href="/attendance">Attendance</a></li>
            <li><a th:href="@{/courses}" href="/courses">Courses</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container">
    <h1 class="header center teal-text">Check your attendance</h1>
    <div class="row">
        <div class="col s0 l3"></div>
        <div class="col s12 l6">
            <form th:action="@{/attendance}" method="post">
                <div class="card" style="padding: 10px;">
                    <div class="card-content">
                        <span class="card-title center">Enter your details </span>
                        <div class="input-field">
                            <input id="fac_no" name="fac_no" type="text" class="validate"/>
                            <label for="fac_no">Faculty Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s0 m6 l8"></div>
                        <div class="col s12 m6 l4">
                            <button class="waves-effect waves-teal btn-flat">Load</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col s0 l3"></div>
    </div>
    <div class="row">
        <div class="col l12">
            <h4 th:text="${student.user?.name}" class="center">Student Name</h4>
            <h4 th:text="${student.user?.userId}" class="center">Faculty Number</h4>
        </div>

        <div th:each="attendance : ${attendances}" class="card col s12 m6 l4">
            <div class="card-content">
                <span class="card-title center"
                      th:text="${attendance.course?.title}">Course Name</span>
                <span class="card-title center"
                      th:text="${attendance.course?.code}">Course Code</span>
                <div th:text="@{|Delivered : ${attendance.delivered}|}">Delivered</div>
                <div th:text="@{|Attended : ${attendance.attended}|}">Attended</div>
                <div th:with="percent=${attendance.attended*100.0/attendance.delivered}">
                    <div th:text="@{|Percentage : ${#numbers.formatDecimal(percent, 0, 2)}%|}">Attended</div>
                    <div class="red-text center"
                         th:text="'Attendance is ' + (${percent &lt; 75} ? 'short' : 'above threshold')"
                         th:class="'center ' + (${percent &lt; 75} ? 'red-text' : 'green-text')">Attendance is short
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="../static/js/init.js" th:src="@{js/init.js}"></script>
</body>
</html>