<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head(title = 'Attendance')"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'student_attendance')"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_STUDENT')">
    <div class="col-xs-12">
        <div th:replace="fragments/layout :: toolbar"></div>
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Attendance</h4>
                <h6 th:text="|Threshold Percentage : ${@configurationService.getThreshold()}%|"></h6>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in collapse in">
                <div class="card-block">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="thead-inverse">
                                <tr>
                                    <th class="text-xs-center">COURSE CODE</th>
                                    <th class="text-xs-center">COURSE NAME</th>
                                    <th class="text-xs-center">ATTENDED</th>
                                    <th class="text-xs-center">DELIVERED</th>
                                    <th class="text-xs-center">PERCENTAGE</th>
                                    <th class="text-xs-center">LAST UPDATED</th>
                                </tr>
                                </thead>
                                <tbody>

                                <!--/*@thymesidr id="attendance" type="in.ac.amu.zhcet.data.model.Attendance"*/-->
                                <th:block th:each="attendance: ${attendances}">
                                    <tr th:with="percent=${attendance.attended*100.0/attendance.delivered}"
                                        th:class="(${percent &lt; @configurationService.getThreshold()} ? 'bg-danger white':'')">
                                        <td class="text-xs-center" th:text="${attendance.courseRegistration.floatedCourse.course.code}"></td>
                                        <td class="text-xs-center" th:text="${attendance.courseRegistration.floatedCourse.course.title}"></td>
                                        <td class="text-xs-center" th:with="attended = ${attendance.attended}"
                                            th:text="${attended}"></td>

                                        <td class="text-xs-center" th:with="delivered = ${attendance.delivered}"
                                            th:text="${delivered}"></td>
                                        <td class="text-xs-center" th:text="${#numbers.formatDecimal(percent,0,2)}+'%'"></td>
                                        <td class="text-xs-center" th:text="${attendance.updatedAt != null ? #temporals.format(attendance.updatedAt, 'hh:mm a | EEE, MMM d, yy') : ''}"></td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${error}" th:text="${error}"></div>
    <div th:replace="fragments/layout :: scripts"></div>
</div>
</body>
</html>