<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/layout :: head(title = 'Courses')">
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" >
    <h1 class="header center teal-text">Courses</h1>

    <div class="row">
        <div class="col l12">
            <div class="container">
                <div th:each="course : ${courses}" class="card col s12 m6 l4">
                    <div class="card-content">
                <span class="card-title center"
                      th:text="${course?.title}">Course Name</span>
                        <span class="card-title center"
                              th:text="${course?.code}">Course Code</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
