<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head(title = 'Attendance Management')"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_FACULTY')">
    <div class="row">
        <div class="col-xs-12">
            <div th:replace="fragments/layout :: toolbar"></div>
        </div>
        <div class="col-xs-12 col-xl-7">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Course Attendance</h4>
                    <h6 th:text="|Threshold Percentage : ${@configurationService.getThreshold()}%|"></h6>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in collapse in">
                    <div class="card-block">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th class="text-xs-center">ID</th>
                                        <th class="text-xs-center">NAME</th>
                                        <th class="text-xs-center">ATTENDED</th>
                                        <th class="text-xs-center">DELIVERED</th>
                                        <th class="text-xs-center">PERCENTAGE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="registration: ${courseRegistrations}">
                                        <tr th:with="percent=${registration.attendance.attended*100.0/registration.attendance.delivered}"
                                            th:class="(${percent &lt; @configurationService.getThreshold()} ? 'bg-danger white':'')">
                                            <td class="text-xs-center"
                                                th:text="${registration.student.user.userId}"></td>
                                            <td class="text-xs-center" th:text="${registration.student.user.name}"></td>
                                            <td class="text-xs-center"
                                                th:with="attended = ${registration.attendance.attended}"
                                                th:text="${attended}"></td>

                                            <td class="text-xs-center"
                                                th:with="delivered = ${registration.attendance.delivered}"
                                                th:text="${delivered}"></td>
                                            <td class="text-xs-center"
                                                th:text="${registration.attendance.delivered == 0 ? 0 : #numbers.formatDecimal(percent,0,2)}+'%'"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Upload Attendance</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in collapse in">
                    <div class="card-block">
                        <form class="form" enctype="multipart/form-data"
                              th:action="|${#httpServletRequest.requestURL}/attendance|"
                              method="post">
                            <div>
                                Download the <a th:href="@{/csv/attendance_format.csv}">attendance format</a>
                            </div>
                            <br/>
                            <div th:replace="fragments/layout :: uploader(id = 'attendance_upload')"></div>
                            <div th:if="${updated}" class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Updated!</strong> Student attendance was successfully updated<br/>
                            </div>
                            <div th:if="${success}" class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Uploaded!</strong> Your file was correctly uploaded. Now, confirm the prompt
                                below to update the attendance
                            </div>
                            <div th:each="error : ${errors}" class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Something went wrong!</strong>
                                <div th:utext="${error}">Fix this and try and try again</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div th:if="${confirmAttendanceErrors}" class="card">
                <div class="card-header">
                    <h4 class="card-title">Course Attendance</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in collapse in">
                    <div class="card-block">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th class="text-xs-center">ID</th>
                                        <th class="text-xs-center">ATTENDED</th>
                                        <th class="text-xs-center">DELIVERED</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="confirm: ${confirmAttendanceErrors.data}">
                                        <tr th:class="(${confirm.value} ? '':'bg-danger white')">
                                            <td class="text-xs-center" th:text="${confirm.key.student}"></td>
                                            <td class="text-xs-center" th:text="${confirm.key.attended}"></td>
                                            <td class="text-xs-center" th:text="${confirm.key.delivered}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:each="error : ${confirmAttendanceErrors.errors}"
                             class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Something went wrong!</strong>
                            <div th:utext="${error}">Fix this and try and try again</div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${attendanceModel}" class="card">
                <div class="card-header">
                    <h4 class="card-title">Course Attendance</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in collapse in">
                    <form th:object="${attendanceModel}"
                          th:action="|${#httpServletRequest.requestURL}/attendance_confirmed|" method="post"
                          class="card-block">
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table" id="confirmation">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th class="text-xs-center">ID</th>
                                        <th class="text-xs-center">ATTENDED</th>
                                        <th class="text-xs-center">DELIVERED</th>
                                        <th class="text-xs-center">%</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="attendance, rowStat: *{uploadList}"
                                        th:with="percent=${attendance.attended*100.0/attendance.delivered}"
                                        th:class="(${percent &lt; @configurationService.getThreshold()} ? 'bg-danger':'')">
                                        <input type="hidden" th:field="*{uploadList[__${rowStat.index}__].student}"/>
                                        <td class="text-xs-center" th:text="${attendance.student}"></td>
                                        <td class="text-xs-center"><input type="number" class="attended"
                                                                          onkeyup="update(this.parentNode.parentNode)"
                                                                          onclick="update(this.parentNode.parentNode)"
                                                                          style="width: 70px; padding: 5px"
                                                                          th:field="*{uploadList[__${rowStat.index}__].attended}"/>
                                        </td>
                                        <td class="text-xs-center"><input type="number" class="delivered"
                                                                          onkeyup="update(this.parentNode.parentNode)"
                                                                          onclick="update(this.parentNode.parentNode)"
                                                                          style="width: 70px; padding: 5px"
                                                                          th:field="*{uploadList[__${rowStat.index}__].delivered}"/>
                                        </td>
                                        <td class="text-xs-center percent"
                                            th:text="${attendance.delivered == 0 ? 0 : #numbers.formatDecimal(percent,0,2)}+'%'"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:if="${unknown_error}" class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Unknown Error!</strong>
                            <div>This can only happen if you forcibly POST items!</div>
                        </div>
                        <ul id="validation-messages" th:if="${#fields.hasErrors('*')}">
                            <li class="text-danger" th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is
                                incorrect
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-9"></div>
                            <div class="col-sm-3">
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-check2"></i> Confirm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="fragments/layout :: scripts"></div>
    </div>
</div>
<script th:src="@{/js/file-uploader.js}" type="text/javascript"></script>
<script th:inline="javascript">
    truncateDecimals = function (number, digits) {
        var multiplier = Math.pow(10, digits),
            adjustedNum = number * multiplier,
            truncatedNum = Math[adjustedNum < 0 ? 'ceil' : 'floor'](adjustedNum);

        return truncatedNum / multiplier;
    };

    function update(node) {
        var cell = $(node);

        var attended = cell.find('.attended').val();
        var delivered = cell.find('.delivered').val();
        var percent = attended/delivered*100;

        /*<![CDATA[*/
        if (percent < /*[[${@configurationService.getThreshold()}]]*/ 75)
            cell.addClass('bg-danger');
        else
            cell.removeClass('bg-danger');
        /*]]>*/

        cell.find('.percent').text(truncateDecimals(percent, 2) + '%')
    }
</script>
</body>
</html>