<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head(title = 'Faculty')">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" type="text/css"
          rel="stylesheet"/>
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_FACULTY')">
    <div th:if="!${error}"></div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Course Details</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in collapse in">
                <div class="card-block">
                    <div class="row">
                        <table class="table">
                            <thead class="thead-inverse">
                            <tr>
                                <th class="text-xs-center">ID</th>
                                <th class="text-xs-center">NAME</th>
                                <th class="text-xs-center">ATTENDED</th>
                                <th class="text-xs-center">DELIVERED</th>
                                <th class="text-xs-center">PERCENTAGE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="registration: ${courseRegistrations}">
                                <tr th:with="percent=${registration.attendance.attended*100.0/registration.attendance.delivered}"
                                    th:class="(${percent &lt; 75} ? 'bg-danger white':'')">
                                    <td class="text-xs-center" th:text="${registration.student.user.userId}"></td>
                                    <td class="text-xs-center" th:text="${registration.student.user.name}"></td>
                                    <td class="text-xs-center" th:with="attended = ${registration.attendance.attended}"
                                        th:text="${attended}"></td>

                                    <td class="text-xs-center" th:with="delivered = ${registration.attendance.delivered}"
                                        th:text="${delivered}"></td>
                                    <td class="text-xs-center" th:text="${#numbers.formatDecimal(percent,0,2)}+'%'"></td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${error}" th:text="${error}"></div>
    <div th:replace="fragments/layout :: scripts"></div>
</div>
</body>
</html>