<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head(title = 'Department Admin')">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.3.0/css/mdb.min.css" type="text/css" rel="stylesheet" />
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_DEPARTMENT_ADMIN')">
    <div th:if="!${error}"></div>

    <!-- Creation of new Course here-->
    <div class="row match-height">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="from-actions-top-left">Add Course</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="card-body collapse in">
                    <div class="card-block">
                        <!--/*@thymesVar id="user" type="in.ac.amu.zhcet.data.model.base.user.UserAuth"*/-->
                        <form class="mui-form" th:action="@{/department/create_course}" method="post"
                              th:object="${newCourse}">
                            <div class="form-body">
                                <h4 class="form-section"><i class="icon-head"></i> Course Info</h4>
                                <br />
                                <div class="mui-textfield mui-textfield--float-label">
                                    <input id="code" name="code" class="mtrl" type="text" th:field="*{code}"/>
                                    <label class="label-control mtrl" for="code">Course Code</label>
                                </div>
                                <div class="mui-textfield mui-textfield--float-label">
                                    <input id="title" name="title" class="mtrl" type="text" th:field= "*{title}"/>
                                    <label class="label-control mtrl" for="title">Course Title</label>
                                </div>

                            </div>
                            <br/>
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    <i class="icon-check2"></i> Add
                                </button>
                            </div>
                            <br/>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Float Course</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">

                        <form class="mui-form" th:action="@{/department/float_course}" method="post">
                                <h4 class="form-section"><i class="icon-clipboard4"></i>Float Courses</h4>
                                <div class="mui-select">
                                    <label for="courseCode">Course Code</label>
                                    <select id="courseCode" name="courseCode">
                                        <option value="-1">Select a Course</option>
                                        <option th:each="course : ${courses}"
                                                th:value="${course.code}"
                                                th:text="${course.title}"
                                                class="my-dropdown">
                                        </option>
                                    </select>
                                </div>
                                <div class="mui-select">
                                    <label for="faculty">In-Charge</label>
                                    <select id="faculty" name="faculty">
                                        <option value="-1">Select Faculty</option>
                                        <option th:each="faculty : ${facultyMembers}"
                                                th:value="${faculty.facultyId}"
                                                th:text="${faculty.name}">
                                        </option>
                                    </select>
                                </div>
                                <br />
                                <div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        <i class="icon-check2"></i> Float
                                    </button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Floated Courses</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in collapse in">
                <div class="card-block">
                    <div class="bs-example">
                        <div class="row">
                            <div class="col-md-3" th:each="floated: ${floatedCourses}">
                                <span class="text-xs-center"
                                      th:text="${floated != null} ? ${floated.course.title}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div th:if="${error}" th:text="${error}"></div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
