<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head(title = 'Department Admin')">
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container" sec:authorize="hasRole('ROLE_DEPARTMENT_ADMIN')">
    <div th:if="!${error}"></div>
    <div class="col-md-15">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="from-actions-top-left">Create User</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <!--/*@thymesVar id="user" type="in.ac.amu.zhcet.data.model.base.user.UserAuth"*/-->
                    <form class="form" th:action="@{/department/create_course}" method="post" th:object="${newCourse}">
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="icon-head"></i> Course Info</h4>
                                    <div class="row">
                                        <div class="form-group col-xs-12 mb-2">
                                            <label for="code">Course Code</label>
                                            <input id="code" name="code" class="form-control" type="text"
                                                   th:field="*{code}"/>
                                        </div>
                                        <div class="form-group col-xs-12 mb-2">
                                            <label for="title">Course Title</label>
                                            <input id="title" name="title" class="form-control" type="text"
                                                   th:field="*{title}"/>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="icon-check2"></i> Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body collapse in">
            <div class="card-block my-gallery">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xs-12" th:each="course: ${courses}">
                        <div class="card">
                            <h4 th:text="${course.title}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:if="${error}" th:text="${error}"></div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
