<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(title = 'Login')">
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="col-md-15">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="from-actions-top-left">Login</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <form class="form" th:action="@{/login}" method="post">
                        <div class="form-body">
                            <h4 class="form-section"><i class="icon-head"></i> Login Info</h4>
                            <div class="row">
                                <div class="form-group col-xs-12 mb-2">
                                    <label for="username">User Id</label>
                                    <input type="text" id="username" class="form-control" placeholder="Username"
                                           name="username"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12 mb-2">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" class="form-control" placeholder="Password"
                                           name="password"/>
                                </div>
                            </div>

                            <p th:text="${error}? ${error}: '' "></p>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="icon-check2"></i> Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
