<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="purple lighten-1" th:replace="fragments/header :: header"></nav>

<div class="container">
    <h1 class="header center teal-text">Login</h1>
    <div class="row">
        <div class="col s0 l3"></div>
        <div class="col s12 l6">
            <form th:action="@{/login}" method="post" th:object="${user}">
                <div class="card" style="padding: 10px;">
                    <div class="card-content">
                        <span class="card-title center">LoginDetails</span>
                        <div class="input-field">
                            <input id="faculty_number" name="faculty_number" type="text" class="validate"
                                   th:field="*{userId}"/>
                            <label for="faculty_number">Faculty Number</label>
                        </div>
                        <div class="input-field">
                            <input id="password" name="password" type="password" class="validate"
                                   th:field="*{password}"/>
                            <label for="password">Password</label>
                        </div>
                        <p th:text="${error}? ${error}: '' "></p>
                        <div class="row">
                            <div class="col s0 m6 l8"></div>
                            <div class="col s12 m6 l4">
                                <button type="submit" class="waves-effect waves-teal btn-flat">Login</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="../static/js/init.js" th:src="@{js/init.js}"></script>
</body>
</html>