<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Privacy Policy</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>

    <meta name="theme-color" content="#673AB7">
    <meta name="msapplication-navbutton-color" content="#673AB7">
    <meta name="apple-mobile-web-app-status-bar-style" content="#673AB7">

    <link rel="shortcut icon" href="/img/icon.png" />

    <link th:href="@{/webjars/muicss/dist/css/mui.min.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="mui-container" th:with="url = ${@configurationService.getBaseUrl()}">
    <h2>Privacy Policy for ZHCET</h2>
    <p>At <span th:text="${url}"></span>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by <span th:text="${url}"></span> and how we use it.</p>
    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at zhcet.web@gmail.com.</p>
    <p><strong>Log Files</strong></p>
    <p><span th:text="${url}"></span> follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services’ analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users’ movement on the website, and gathering demographic information.</p>
    <h3>Cookies and Web Beacons</h3>
    <p>Like any other website, <span th:text="${url}"></span> uses ‘cookies’. These cookies are used to store information including visitors’ preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users’ experience by customizing our web page content based on visitors’ browser type and/or other information.</p>
    <p><strong>Privacy Policies</strong></p>
    <p>You may consult this list to find the Privacy Policy for each of the advertising partners of <span th:text="${url}"></span>.</p>
    <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on <span th:text="${url}"></span>, which are sent directly to users’ browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
    <p>Note that <span th:text="${url}"></span> has no access to or control over these cookies that are used by third-party advertisers.</p>
    <p><strong>Third Party Privacy Policies</strong></p>
    <p><span th:text="${url}"></span>’s Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You may find a complete list of these Privacy Policies and their links here and <a href="https://ww.buywebtrafficexperts.com/about-us/" target="_blank">here </a>: Privacy Policy Links.</p>
    <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers’ respective websites. What Are Cookies?</p>
    <p><strong>Online Privacy Policy Only</strong></p>
    <p>This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in <span th:text="${url}"></span>. This policy is not applicable to any information collected offline or via channels other than this website.</p>
    <p><strong>Consent</strong></p>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
</div>
</body>
</html>