<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head(title = 'Profile')">
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="isAuthenticated()">
    <!--/*@thymesVar id="student" type="in.ac.amu.zhcet.data.model.Student"*/-->
    <!--/*@thymesVar id="user" type="in.ac.amu.zhcet.data.model.base.user.UserAuth"*/-->

        <div th:if="${!user.active}" class="col-xs-10 offset-xs-1 col-xl-8 offset-xl-2">
            <div class="mui-panel">
                <div class="text-danger">
                    <h3>Register Email Address</h3>
                </div>
                <div th:text="${user.email}"></div>
                <div th:if="${user.email == null}">
                    <p>
                        Your email address is not registered yet! You won't be getting password reset emails from us in case you forget it!
                    </p>
                    <div class="row">
                        <div class="col-xs-6 offset-xs-3">
                            <form th:action="@{/profile/register_email}" method="post">
                                <fieldset class="form-group">
                                    <div class="input-group">
                                        <input type="email" class="form-control" title="email" name="email" th:value="${email}" placeholder="Email" required>
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary"><i class="icon-check2"></i></button>
                                        </span>
                                    </div>
                                </fieldset>
                                <div th:replace="fragments/layout :: success(condition = ${link_sent}, title = 'Sent!', message = ${link_sent})"></div>
                                <div th:replace="fragments/layout :: error(condition = ${invalid_email}, error = ${invalid_email})"></div>
                                <div th:replace="fragments/layout :: error(condition = ${duplicate_email}, error = ${duplicate_email})"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:unless="${user.email == null}">
                    <p>
                        Your email address is registered, but not verified! You won't be getting password reset emails from us in case you forget it!
                    </p>
                    <div class="row">
                        <div class="col-xs-6 offset-xs-3">
                            <form th:action="@{/profile/confirm_email}" method="post">
                                <button type="submit" class="btn btn-primary block">Resend Verification Link</button>
                                <div th:replace="fragments/layout :: success(condition = ${link_sent}, title = 'Sent!', message = ${link_sent})"></div>
                                <div th:replace="fragments/layout :: error(condition = ${invalid_email}, error = ${invalid_email})"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="col-xs-10  offset-xs-1 col-xl-8 offset-xl-2">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="from-actions-top-left">Profile Setting</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="text-xs-center">
                <div class="card-block">
                    <img src="https://zhcet-web-amu.firebaseapp.com/static/img/account.svg"
                         th:src="${#strings.defaultString(user.details.avatarUrl, 'https://zhcet-web-amu.firebaseapp.com/static/img/account.svg')}"
                         class="rounded-circle height-150" alt="Card image"/>
                </div>
                <div class="card-block">
                    <h6 class="card-subtitle text-muted" th:text="${user.name}">Name</h6>
                    <ul class="list-inline list-inline-pipe" sec:authorize="hasRole('STUDENT')">
                        <li th:text="${student.facultyNumber}">FacultyNumber</li>
                        <li th:text="${student.enrolmentNumber}">EnrolmentNumber</li>
                    </ul>
                    <ul class="list-inline list-inline-pipe" sec:authorize="hasRole('FACULTY')">
                        <li th:text="${faculty.facultyId}">FacultyNumber</li>
                    </ul>
                    <span th:text="${user.email}"></span><span th:if="${user.active}" style="margin-left: 5px;"><i class="icon-check2"></i></span>
                </div>
            </div>
            <!--/*@thymesVar id="user_details" type="in.ac.amu.zhcet.data.model.base.user.UserDetail"*/-->
            <form class="form" th:action="@{/profile/details}" method="post" th:object="${user_details}">
                <div class="row">
                    <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                        <div class="form-body">
                            <div th:if="${success}" class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Updated!</strong> Your profile was updated successfully!
                            </div>
                            <div class="row">
                                <input type="hidden" th:field="*{avatarUrl}">

                                <div class="form-group col-xs-12 mb-2">
                                    <label for="description">Bio</label>
                                    <input id="description" name="description"
                                           class="form-control"
                                           type="text"
                                           th:field="*{description}"/>
                                </div>

                                <div class="form-group col-xs-12 mb-2">
                                    <label for="addressLine1">Address Line 1</label>
                                    <input id="addressLine1" name="addressLine1"
                                           class="form-control"
                                           type="text"
                                           th:field="*{addressLine1}"/>
                                </div>

                                <div class="form-group col-xs-12 mb-2">
                                    <label for="addressLine2">Address Line 2</label>
                                    <input id="addressLine2" name="addressLine2"
                                           class="form-control"
                                           type="text"
                                           th:field="*{addressLine2}"/>
                                </div>

                                <div class="form-group col-xs-12 mb-2">
                                    <label for="city">City</label>
                                    <input id="city" name="city"
                                           class="form-control"
                                           type="text"
                                           th:field="*{city}"/>
                                </div>

                                <div class="form-group col-xs-12 mb-2">
                                    <label for="state">State</label>
                                    <input id="state" name="state"
                                           class="form-control"
                                           type="text"
                                           th:field="*{state}"/>
                                </div>
                            </div>
                            <div th:each="error : ${errors}" class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Something went wrong!</strong>
                                <div th:utext="${error}">Fix this and try and try again</div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-check2"></i> Update
                            </button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
