<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en" data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head(title = 'Reset Password')">
</head>
<body data-open="click" data-menu="vertical-menu" data-col="1-column"
      class="vertical-layout vertical-menu 1-column  blank-page blank-page">
<div>
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0">
                        <div class="card border-grey border-lighten-3 m-0">
                            <div class="card-header no-border">
                                <div class="card-title text-xs-center">
                                    <div class="p-1"><img
                                            src="https://res.cloudinary.com/zhcet/image/upload/robust-logo-light.png"
                                            alt="branding logo"/></div>
                                </div>
                                <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2">
                                    <span>Reset Password</span></h6>
                            </div>
                            <div class="card-body collapse in">
                                <div class="card-block">
                                    <!--/*@thymesVar id="password" type="in.ac.amu.zhcet.data.model.dto.PasswordReset"*/-->
                                    <form th:if="${error == null}" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')" class="form-horizontal form-simple" action="#"
                                          th:action="@{/login/reset_password}" method="post"
                                          th:object="${password}">
                                        <input type="hidden" name="id" th:field="*{id}">
                                        <input type="hidden" name="token" th:field="*{token}">
                                        <fieldset class="form-group position-relative has-icon-left mb-0">
                                            <input type="password" class="form-control form-control-lg input-lg"
                                                   id="password" name="password" placeholder="Password"
                                                   th:required="required" th:field="*{newPassword}"/>
                                            <div class="form-control-position">
                                                <i class="icon-head"></i>
                                            </div>
                                        </fieldset>
                                        <fieldset class="form-group position-relative has-icon-left mb-0">
                                            <input type="password" class="form-control form-control-lg input-lg"
                                                   id="confirm_password" name="confirm_password"
                                                   placeholder="Retype Password" th:required="required"
                                                   th:field="*{confirmPassword}"/>
                                            <div class="form-control-position">
                                                <i class="icon-head"></i>
                                            </div>
                                        </fieldset>
                                        <br/>
                                        <div th:each="error : ${pass_errors}" class="alert alert-dismissible alert-danger">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <div th:text="${error}"></div>
                                        </div>
                                        <div th:if="${success}" class="alert alert-dismissible alert-success">
                                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                                            <strong>Uploaded!</strong>
                                            <div th:text="${success}"></div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i
                                                class="icon-unlock2"></i> Reset Password
                                        </button>
                                    </form>
                                    <div th:if="${error}" class="alert alert-dismissible alert-danger">
                                        <button type="button" class="close" data-dismiss="alert">&times;
                                        </button>
                                        <strong>ERROR!</strong>
                                        <div th:text="${error}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
