<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" th:fragment="container"
      th:include="fragments/login :: login(page_title = 'Reset Password', message = 'Reset Password')" lang="en"
      data-textdirection="ltr" class="loading">
<div class="card-body collapse in">
    <div class="card-block">
        <!--/*@thymesidr id="password" type="in.ac.amu.zhcet.data.model.dto.PasswordReset"*/-->
        <form th:if="${error == null}" sec:authorize="hasAuthority('CHANGE_PASSWORD_PRIVILEGE')"
              class="form-horizontal form-simple" action="#"
              th:action="@{/login/reset_password}" method="post"
              th:object="${password}">
            <input type="hidden" name="id" th:field="*{id}">
            <input type="hidden" name="token" th:field="*{token}">
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="password" name="password" placeholder="Password"
                       th:required="required" th:field="*{newPassword}"/>
                <div class="form-control-position">
                    <i class="icon-unlock2"></i>
                </div>
            </fieldset>
            <fieldset class="form-group position-relative has-icon-left mb-0">
                <input type="password" class="form-control form-control-lg input-lg"
                       id="confirm_password" name="confirm_password"
                       placeholder="Retype Password" th:required="required"
                       th:field="*{confirmPassword}"/>
                <div class="form-control-position">
                    <i class="icon-unlock2"></i>
                </div>
            </fieldset>
            <br/>
            <div th:each="error : ${pass_errors}" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <div th:text="${error}"></div>
            </div>
            <div th:if="${success}" class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Reset!</strong>
                <div th:text="${success}"></div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i
                    class="icon-unlock2"></i> Reset Password
            </button>
        </form>
        <div th:if="${error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;
            </button>
            <strong>ERROR!</strong>
            <div th:text="${error}"></div>
        </div>
    </div>
</div>
</html>
