<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>SignUp</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="purple lighten-1">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">ZHCET</a>
        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{/attendance}" href="/attendance">Attendance</a></li>
            <li><a th:href="@{/courses}" href="/courses">Courses</a></li>
            <li><a th:href="@{/signup}" href="/signup">Sign Up</a></li>
        </ul>


        <ul id="nav-mobile" class="side-nav">
            <li><a th:href="@{/attendance}" href="/attendance">Attendance</a></li>
            <li><a th:href="@{/courses}" href="/courses">Courses</a></li>
            <li><a th:href="@{/signup}" href="/signup">Sign Up</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container">
    <h1 class="header center teal-text">SignUp</h1>
    <div class="row">
        <div class="col s0 l3"></div>
        <div class="col s12 l6">
            <form th:action="@{/profile}" method="post" th:object="${user}">
                <div class="card" style="padding: 10px;">
                    <div class="card-content">
                        <span class="card-title center">Enter your details </span>
                        <div class="input-field">
                            <input id="faculty_number" name="faculty_number" type="text" class="validate"
                                   th:field="*{userId}"/>
                            <label for="faculty_number">Faculty Number</label>
                        </div>
                        <div class="input-field">
                            <input id="enrolment" name="enrolment" type="text" class="validate"/>
                            <label for="enrolment">Enrolment number</label>
                        </div>
                        <div class="input-field">
                            <input id="name" name="name" type="text" class="validate" th:field="*{name}"/>
                            <label for="name">Username</label>
                        </div>
                        <div class="input-field">
                            <input id="avatar" name="avatar" type="url" class="validate"
                                   th:field="*{avatarUrl}"/>
                            <label for="addressLine1">Avatar</label>
                        </div>
                        <div class="input-field">
                            <input id="addressLine1" name="addressLine1" type="text" class="validate"
                                   th:field="*{addressLine1}"/>
                            <label for="addressLine1">Address Line 1</label>
                        </div>
                        <div class="input-field">
                            <input id="addressLine2" name="addressLine2" type="text" class="validate"
                                   th:field="*{addressLine2}"/>
                            <label for="addressLine2">Address Line 2</label>
                        </div>
                        <div class="input-field">
                            <input id="phoneNumber" name="phoneNumber" type="text" class="validate"
                                   th:field="*{phoneNumbers}"/>
                            <label for="phoneNumber">Phone Number</label>

                        </div>
                        <div class="input-field">
                            <input id="password" name="password" type="password" class="validate"
                                   th:field="*{password}"/>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field">
                            <input id="retype-password" name="retype-password" type="password" class="validate"/>
                            <label for="retype-password">Retype Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s0 m6 l8"></div>
                        <div class="col s12 m6 l4">
                            <button type="submit" class="waves-effect waves-teal btn-flat">Sign up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="../static/js/init.js" th:src="@{js/init.js}"></script>

</body>
</html>