<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="fragments/layout :: head(title = 'Student Profile')">
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <!--/*@thymesVar id="student" type="in.ac.amu.zhcet.data.model.Student"*/-->
    <div class="card text-xs-center">
        <div class="card-body">
            <div class="card-block">
                <h2 class="card-title" th:text="${student.name}">Student Page</h2>
                <img src="https://res.cloudinary.com/zhcet/image/upload/avatar-s-1.png" th:src="${#strings.defaultString(student.avatar, 'https://res.cloudinary.com/zhcet/image/upload/avatar-s-1.png')}" class="rounded-circle img-border height-200" alt="Card image" />
                <strong><p class="card-text" style="margin-top: 10px;" th:text="|${student.facultyNumber} ${student.enrolmentNumber}|">Faculty Number</p></strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s0 l3"></div>
        <div class="col s12 l6">
            <form th:action="@{/student}" method="post" th:object="${student}">
                <input type="hidden" name="enrolmentNumber" th:value="${student.enrolmentNumber}" />
                <div class="card" style="padding: 10px;">
                    <div class="card-content">
                        <span class="card-title center">Enter your details </span>
                        <div class="input-field">
                            <input id="avatar" name="avatar" type="url" class="validate" th:field="*{userDetails.avatarUrl}"/>
                            <label for="avatar">Avatar</label>
                        </div>
                        <div class="input-field">
                            <input id="email" name="email" type="email" class="validate" th:field="*{userDetails.email}"/>
                            <label for="avatar">Email</label>
                        </div>
                        <div class="input-field">
                            <input id="addressLine1" name="addressLine1" type="text" th:field="*{userDetails.addressLine1}"/>
                            <label for="addressLine1">Address Line 1</label>
                        </div>
                        <div class="input-field">
                            <input id="addressLine2" name="addressLine2" type="text" th:field="*{userDetails.addressLine2}"/>
                            <label for="addressLine2">Address Line 2</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s0 m6 l8"></div>
                        <div class="col s12 m6 l4">
                            <button type="submit" class="waves-effect waves-teal btn-flat">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
