<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head(title = 'Profile')">
</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_STUDENT')">
    <!--/*@thymesVar id="student" type="in.ac.amu.zhcet.data.model.Student"*/-->
    <div class="col-md-15">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="from-actions-top-left">Information</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-12 col-md-6 col-xs-12">
                <div class="card profile-card-with-stats">
                    <div class="text-xs-center">
                        <div class="card-block">
                            <img src="https://res.cloudinary.com/zhcet/image/upload/avatar-s-1.png"
                                 th:src="${#strings.defaultString(student.avatar, 'https://res.cloudinary.com/zhcet/image/upload/avatar-s-1.png')}"
                                 class="rounded-circle height-150" alt="Card image"/>
                        </div>
                        <div class="card-block">
                            <h6 class="card-subtitle text-muted" th:text="${student.name}">Name</h6>
                            <ul class="list-inline list-inline-pipe">
                                <li th:text="${student.facultyNumber}">FacultyNumber</li>
                                <li th:text="${student.enrolmentNumber}">EnrolmentNumber</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <form class="form" th:action="@{/student}" method="post" th:object="${student}">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="form-body">
                            <div class="row">
                                <input type="hidden" id="name" name="name" class="form-control"
                                       th:field="*{enrolmentNumber}"
                                       th:value="${student.enrolmentNumber}"/>
                                <div class="form-group col-xs-12 mb-2">
                                    <label for="avatar">Avatar</label>
                                    <input id="avatar" name="avatar" class="form-control"
                                           type="text"
                                           th:field="*{userDetails.avatarUrl}"/>
                                </div>
                                <div class="form-group col-xs-12 mb-2">
                                    <label for="email">Email</label>
                                    <input id="email" name="email" class="form-control" type="text"
                                           th:field="*{userDetails.email}"/>
                                </div>

                                <div class="form-group col-xs-12 mb-2">
                                    <label for="addressLine1">AddressLine1</label>
                                    <input id="addressLine1" name="addressLine1"
                                           class="form-control"
                                           type="text"
                                           th:field="*{userDetails.addressLine1}"/>
                                </div>

                                <div class="form-group col-xs-12 mb-2">
                                    <label for="addressLine2">AddressLine2</label>
                                    <input id="addressLine2" name="addressLine2"
                                           class="form-control"
                                           type="text"
                                           th:field="*{userDetails.addressLine2}"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">
                                <i class="icon-check2"></i> Update
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>
