<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"/>
    <link href="../static/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<nav class="purple lighten-1">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">ZHCET</a>
        <ul class="right hide-on-med-and-down">
            <li><a th:href="@{/attendance}" href="/attendance">Attendance</a></li>
            <li><a th:href="@{/courses}" href="/courses">Courses</a></li>
            <li><a th:href="@{/signup}" href="/signup">Sign Up</a></li>
        </ul>


        <ul id="nav-mobile" class="side-nav">
            <li><a th:href="@{/attendance}" href="/attendance">Attendance</a></li>
            <li><a th:href="@{/courses}" href="/courses">Courses</a></li>
            <li><a th:href="@{/signup}" href="/signup">Sign Up</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <h1 class="header center teal-text">Create User</h1>
    <div class="row">
        <div class="col s0 l3"></div>
        <form th:action="@{/user}" method="post" th:object="${user}">
            <div class="card" style="padding: 10px;">
                <div class="card-content">
                    <div class="input-field">
                        <input id="faculty" th:field="*{roles}" name="user" type="radio" value="ROLE_FACULTY"/>
                        <label for="faculty">Faculty</label>

                        <input id="student" name="user" type="radio" value="ROLE_STUDENT"/>
                        <label for="student">Student</label>
                    </div>
                    <div class="input-field">
                        <input id="id" name="id" type="text"/>
                        <label for="id">ID</label>
                    </div>
                    <div class="input-field">
                        <input id="enrol" name="enrol" type="text"/>
                        <label for="enrol">Enrolment Number</label>
                    </div>

                    <div class="input-field">
                        <input id="name" name="name" type="text"/>
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field">
                        <input id="department" name="department" type="text"/>
                        <label for="department">Department</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="col s12 l6">
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="../static/js/init.js" th:src="@{js/init.js}"></script>

</body>
</html>