<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="container"
      th:include="fragments/login :: login(title = 'Verify Email', message = 'Verify Email')" lang="en"
      data-textdirection="ltr" class="loading">
<div class="card-body collapse in">
    <div class="card-block">
        <div th:replace="fragments/layout :: success(condition = ${success}, success_title = 'Verified!', message = ${success})"></div>
        <!--/*@thymesidr id="password" type="in.ac.amu.zhcet.data.model.dto.PasswordReset"*/-->
        <div th:if="${error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>ERROR!</strong>
            <div th:text="${error}"></div>
        </div>
    </div>
</div>
</html>
