<div xmlns:th="http://www.thymeleaf.org" th:fragment="add_in_charge" class="card">
    <!--/*@thymesVar id="floatedCourse" type="amu.zhcet.data.course.floated.FloatedCourse"*/-->
    <!--/*@thymesVar id="inCharge" type="amu.zhcet.data.course.incharge.CourseInCharge"*/-->
    <div class="card-header">
        <h4 class="card-title">Teacher In Charge</h4>
        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-body collapse in collapse in">
        <div class="card-block">
            <div class="bs-callout-primary callout-border-left p-1">
                <strong>Add course in-charge by searching</strong><br>
                Search for faculty by faculty ID or name and set multiple in-charge in one go!
            </div>
            <br>
            <div th:replace="fragments/flash :: success(condition = ${float_success}, message = ${float_success})"></div>
            <div th:replace="fragments/flash :: error(condition = ${float_error}, error = ${float_success})"></div>
            <div id="incharge-action">
                <div class="row">
                    <div class="col-md-9">
                        <p>Include faculty members of all departments in search?</p>
                    </div>
                    <div class="col-md-3">
                        <button id="toggle-more" class="btn btn-block btn-outline-primary btn-round" data-toggle="tooltip"
                                data-placement="top" data-original-title="Toggle all faculty members and only Departmental Faculty Members">More</button>
                    </div>
                </div>
                <br>
                <input class="incharges twitter-typeahead form-control round mb-1" autocomplete="off" placeholder="Search" />
            </div>
            <form method="post" th:action="@{|./${floatedCourse.course.code}/in_charge|}">
                <div class="in-charge-container">
                    <div class="in-charge" th:each="inCharge : ${floatedCourse.inCharge}">
                        <div class="row vertical-align text-xs-center">
                            <div class="col-xs-2">
                                <img src="https://zhcet-backend.firebaseapp.com/static/img/account.svg"
                                     th:src="${@viewService.getAvatarUrl(inCharge.facultyMember.user.details.avatarUrl)}"
                                     class="rounded-circle height-50 in-charge-avatar" style="margin: 0"/>
                            </div>
                            <div class="col-xs-2">
                                <input type="text" name="facultyId" th:value="${inCharge.facultyMember.facultyId}" hidden>
                                <span class="capsule p-small faculty-id" th:text="${inCharge.facultyMember.facultyId}"></span>
                            </div>
                            <div class="col-xs-3">
                                <span th:text="${inCharge.facultyMember.user.name}"></span>
                            </div>
                            <div class="col-xs-3">
                            <span class="mui-select section-select">
                                <label for="section">Section</label>
                                <select id="section"  name="section">
                                    <option value="">All</option>
                                    <option th:each="section : ${sections}" th:value="${section}" th:text="${section}" th:selected="${inCharge.section == section}"></option>
                                </select>
                            </span>
                            </div>
                            <div class="col-xs-2">
                                <span><button type="button" class="remove mui-btn mui-btn--small mui-btn--danger mui-btn--fab"><i class="icon-cross2"></i></button></span>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <br>
                <div th:replace="fragments/flash :: success(condition = ${incharge_success}, message = ${incharge_success})"></div>
                <input type="submit" value="Save" class="btn btn-primary float-xs-right">
            </form>
        </div>
    </div>
    <script id="in-charge-template" type="text/x-tmpl">
        <div class="in-charge new">
            <div class="row vertical-align text-xs-center">
                <div class="col-xs-2">
                    <img src="{%=o.userDetailsAvatarUrl%}" class="rounded-circle height-50 in-charge-avatar"/>
                </div>
                <div class="col-xs-2">
                    <input type="text" name="facultyId" value="{%=o.facultyId%}" hidden>
                    <span class="capsule p-small faculty-id">{%=o.facultyId%}</span>
                </div>
                <div class="col-xs-3">
                    <span>{%=o.userName%}</span>
                </div>
                <div class="col-xs-3">
                <span class="mui-select section-select">
                    <label for="section">Section</label>
                    <select id="section" name="section">
                        <option value="">All</option>
                        <option th:each="section : ${sections}" th:value="${section}" th:text="${section}"></option>
                    </select>
                </span>
                </div>
                <div class="col-xs-2">
                    <span><button type="button" class="remove mui-btn mui-btn--small mui-btn--danger mui-btn--fab"><i class="icon-cross2"></i></button></span>
                </div>
            </div>
            <hr>
        </div>
    </script>
</div>