<div xmlns:th="http://www.thymeleaf.org" th:fragment="register_students" class="card">
    <!--/*@thymesVar id="floatedCourse" type="amu.zhcet.data.course.floated.FloatedCourse"*/-->
    <!--/*@thymesVar id="inCharge" type="amu.zhcet.data.course.incharge.CourseInCharge"*/-->
    <!--/*@thymesVar id="registration" type="amu.zhcet.data.course.registration.CourseRegistration"*/-->
    <div class="card-header">
        <h4 class="card-title">Register New Students</h4>
        <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show">
        <div class="card-body">
            <form class="form" enctype="multipart/form-data"
                  th:action="@{|./${floatedCourse.course.code}/register|}"
                  method="post">
                <div>
                    Download the <a th:href="@{/csv/registration_format.csv}">registration format</a>
                </div>
                <br/>
                <div th:replace="fragments/uploader(id = 'registration_upload')"></div>
                <div th:if="${registered}" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Updated!</strong> Students were successfully registered<br/>
                </div>
                <div th:each="error : ${errors}" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Something went wrong!</strong>
                    <div th:utext="${error}">Fix this and try and try again</div>
                </div>
            </form>
        </div>
    </div>
    <!--/*@thymesVar id="confirmRegistration" type="amu.zhcet.storage.csv.Confirmation<amu.zhcet.data.course.registration.CourseRegistration>"*/-->
    <div th:with="confirmRegistration = ${#session.getAttribute('confirmRegistration')}">
        <div th:if="${confirmRegistration}" id="registration-modal" class="modal">
        <div class="modal-dialog modal-lg">
            <form th:action="@{|./${floatedCourse.course.code}/register/confirm|}" method="post">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirm Student Registration</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="table-responsive">
                                <table id="confirmRegistrationTable" class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Enrolment</th>
                                        <th class="text-center">Faculty</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Section</th>
                                        <th class="text-center">Department</th>
                                        <th class="text-center">Mode</th>
                                        <th class="text-center">Error</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="confirm: ${confirmRegistration.data}">
                                        <tr th:class="(${confirm.meta} ? 'bg-danger white':'')">
                                            <td class="text-center" th:text="${confirm.student.enrolmentNumber}"></td>
                                            <td class="text-center" th:text="${confirm.student.facultyNumber}"></td>
                                            <td class="text-center" th:text="${confirm.student.user?.name}"></td>
                                            <td class="text-center" th:text="${confirm.student.section}"></td>
                                            <td class="text-center" th:text="${confirm.student.user?.department?.name}"></td>
                                            <td class="text-center" th:text="${confirm.mode}"></td>
                                            <td class="text-center" th:text="${confirm.meta}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:each="error : ${confirmRegistration.errors}"
                             class="alert alert-dismissible alert-danger">
                            <!--/*@thymesVar id="error" type="String"*/-->
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Something went wrong!</strong>
                            <div th:utext="${error}">Fix this and try and try again</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button th:if="${confirmRegistration.errors.isEmpty()}" type="submit"
                                class="btn btn-primary">Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>