<div xmlns:th="http://www.thymeleaf.org" th:fragment="registered_students" class="card">
    <!--/*@thymesVar id="floatedCourse" type="amu.zhcet.data.course.floated.FloatedCourse"*/-->
    <!--/*@thymesVar id="inCharge" type="amu.zhcet.data.course.incharge.CourseInCharge"*/-->
    <!--/*@thymesVar id="registration" type="amu.zhcet.data.course.registration.CourseRegistration"*/-->
    <div class="card-header">
        <h4 class="card-title">Registered Students</h4>
        <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
            </ul>
        </div>
    </div>
    <div id="remove-student-modal" class="modal fade text-xs-left" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger white">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Confirm Student Removal</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert">
                        <span class="text-bold-600">Beware!</span> Removing the student will also delete its attendance and other course related details
                    </div>
                    <p>Remove student <strong><span id="remove-student-id"></span></strong> from this course?</p>
                    <p>If you wish to continue, please click the delete button</p>
                </div>
                <div class="modal-footer">
                    <form method="post" th:action="@{|./${floatedCourse.course.code}/unregister|}">
                        <input id="student-to-delete" type="text" name="student" hidden style="display: inline">
                        <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body collapse in collapse in">
        <div class="card-block">
            <div class="row">
                <div class="table-responsive">
                    <table id="registrationTable" class="table display responsive nowrap">
                        <thead>
                        <tr>
                            <th data-toggle="tooltip" data-original-title="Faculty Number">F. No</th>
                            <th data-toggle="tooltip" data-original-title="Enrolment Number">En. No</th>
                            <th>Name</th>
                            <th>Section</th>
                            <th>Mode</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="registration: ${courseRegistrations}">
                            <tr class="student-row">
                                <td th:text="${registration.student.facultyNumber}"></td>
                                <td th:text="${registration.student.enrolmentNumber}"></td>
                                <td th:text="${registration.student.user.name}"></td>
                                <td th:text="${registration.student.section}"></td>
                                <td>
                                    <span th:text="${registration.mode}"></span>
                                    <i class="remove-student material-icons" th:attr="data-enrolment = ${registration.student.enrolmentNumber}" data-toggle="tooltip" data-original-title="Remove Student">delete</i>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>