<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'department', subPage = 'add_course')" sec:authorize="hasRole('ROLE_DEPARTMENT_ADMIN')">
    <!--/*@thymesVar id="department" type="amu.zhcet.data.department.Department"*/-->
    <div class="row" th:if="${department}">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
            <div th:replace="fragments/toolbar"></div>
            <!-- Creation of new Course here-->
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" id="basic-layout-icons">Add Course</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form class="form" th:action="@{|/admin/department/${department.code}/course/add|}" method="post" th:object="${course}">
                            <div th:replace="department/fragments/course_form"></div>
                            <div class="form-actions right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-check2"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Show if Department not Found -->
    <div th:unless="${department}" class="row">
        <div th:replace="department/fragments/department_not_found"></div>
    </div>
</div>
</body>
</html>