<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'department', subPage = 'department_admin')"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_DEPARTMENT_ADMIN')">
    <!--/*@thymesVar id="department" type="in.ac.amu.zhcet.data.model.Department"*/-->
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
            <div th:replace="fragments/layout :: toolbar"></div>
            <div class="row" sec:authorize="hasRole('ROLE_DEPARTMENT_SUPER_ADMIN')">
                <div class="col-xs-12 col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
                    <div class="mui-form">
                        <div class="mui-select">
                            <label for="type">Select Department</label>
                            <select id="type" onchange="location = this.value;">
                                <option th:each="dep : ${@departmentService.findAll()}"
                                        th:value="@{|/department/${dep.code}|}"
                                        th:text="${dep.name}"
                                        th:selected="${dep.code == department.code}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://zhcet-backend.firebaseapp.com/static/img/course_generic.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">View Courses</h4>
                                <p class="card-text">View and manage all the courses in department.</p>
                                <a th:href="@{|/department/${department.code}/courses|}" class="btn btn-outline-danger float-xs-right">All  Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://zhcet-backend.firebaseapp.com/static/img/course_generic.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Float Course</h4>
                                <p class="card-text">Float courses in the current session.</p>
                                <a th:href="@{|/department/${department.code}/course/float|}" class="btn btn-outline-info float-xs-right">Float Course</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="https://zhcet-backend.firebaseapp.com/static/img/course_generic.jpg" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Add Course</h4>
                                <p class="card-text">Add a new course to the department. </p>
                                <a th:href="@{|/department/${department.code}/course/add|}" class="btn btn-outline-success float-xs-right">New Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
</body>
</html>