<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/layout :: head"></head>
<link rel="stylesheet" th:href="@{/css/courses.css}">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'department', subPage = 'courses')" sec:authorize="hasRole('ROLE_DEPARTMENT_ADMIN')">
    <!--/*@thymesVar id="course" type="amu.zhcet.data.course.Course"*/-->
    <!--/*@thymesVar id="department" type="amu.zhcet.data.department.Department"*/-->
    <div class="container">

        <!-- Show if Department Found -->
        <div class="row" th:if="${department}">
            <div class="col-xs-12 col-md-10 offset-md-1 col-lg-12 offset-lg-0 col-xl-8 offset-xl-2">
                <div th:replace="fragments/layout :: toolbar"></div>
                <div class="card" style="background-color:#f5f5f5;">
                    <div class="card-header">
                        <h4 class="card-title">Department Courses</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        These are the courses maintained by this department
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body collapse in collapse in">
                        <div class="card-block">
                            <a th:href="@{|/admin/department/${department.code}/course/add|}">
                                <button class="btn btn-outline-primary btn-round">New Course</button>
                            </a>
                            <a th:href="@{|/admin/department/${department.code}/course/float|}">
                                <button class="btn btn-info btn-round text-white">Float Course</button>
                            </a>
                            <a th:href="@{|/admin/department/${department.code}/courses|(all=${!all})}">
                                <button th:class="|btn btn-round btn-${all ? 'primary' : 'danger'}|" th:text="${all ? 'Active Courses' : 'All Courses'}"></button>
                            </a>
                            <button id="toggle-floated" class="btn btn-secondary btn-round">Floated Course</button>
                            <hr>
                            <div th:replace="fragments/layout :: success(condition = ${course_success}, message = ${course_success})"></div>
                            <div th:replace="fragments/layout :: error(condition = ${course_error}, error = ${course_error})"></div>
                            <div id="courses">
                                <input class="fuzzy-search form-control round mb-1" placeholder="Search" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <button class="sort btn btn-block btn-outline-info btn-round mb-2" data-sort="code">Sort by code</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="sort btn btn-block btn-outline-primary btn-round mb-2" data-sort="title">Sort by title</button>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="sort btn btn-block btn-outline-success btn-round mb-2" data-sort="semester">Sort by semester</button>
                                    </div>
                                </div>
                                <ul class="list-group list">
                                    <li th:each="course : ${courses}" class="mb-2">
                                        <a th:href="|/admin/department/${department.code}/courses/${course.code}/edit|" style="color: inherit">
                                            <div th:replace="department/fragments/course_components :: course_card"></div>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="pagination pagination-separate pagination-flat"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Show if Department not Found -->
        <div th:unless="${department}" class="row">
            <div th:replace="department/fragments/department_not_found"></div>
        </div>
    </div>
</div>
<script th:src="@{/js/courses.js}"></script>
</body>
</html>