<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>

<link rel="stylesheet" th:href="@{/css/floated-course.css}">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'department_admin', subPage = 'courses')"></div>

<!--/*@thymesVar id="floatedCourse" type="in.ac.amu.zhcet.data.model.FloatedCourse"*/-->
<!--/*@thymesVar id="inCharge" type="in.ac.amu.zhcet.data.model.CourseInCharge"*/-->
<!--/*@thymesVar id="registration" type="in.ac.amu.zhcet.data.model.CourseRegistration"*/-->
<div th:fragment="content" th:include="fragments/layout :: wrapper">
    <div th:replace="fragments/layout :: toolbar"></div>
    <div th:if="${unknown_error}" class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Unknown Error!</strong>
        <div>This can only happen if you tried to POST invalid data by force!</div>
    </div>
    <div th:replace="department/fragments/unfloat_course"></div>
    <div class="row">
        <div class="col-xs-12 col-xl-5">
            <div th:replace="department/fragments/add_in_charge"></div>
            <div th:replace="department/fragments/register_students"></div>
        </div>
        <div class="col-xs-12 col-xl-7">
            <div th:replace="department/fragments/registered_students"></div>
        </div>

    </div>
</div>
<script id="sections" type="text/plain">
    <span id="sections" class="mui-select section-select mx-1" hidden>
        <label for="section">Section</label>
        <select id="section" name="section">
            <option th:each="section : ${sections}" th:value="${section}"
                    th:text="${section}"></option>
        </select>
    </span>
</script>
<div th:replace="fragments/layout :: scripts"></div>
<script th:src="@{/js/file-uploader.js}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>
<script src="https://zhcet-web-amu.firebaseapp.com/static/js/FuzzySearch.min.js"></script>
<script src="https://zhcet-web-amu.firebaseapp.com/static/js/tmpl.min.js"></script>
<script th:src="@{/js/fuzzyhound.js}"></script>
<script th:src="@{/js/floated-course.js}"></script>
</body>
</html>