<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<link rel="stylesheet" th:href="@{/css/floated-course.css}">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<!--/*@thymesVar id="floatedCourse" type="amu.zhcet.data.course.floated.FloatedCourse"*/-->
<!--/*@thymesVar id="inCharge" type="amu.zhcet.data.course.incharge.CourseInCharge"*/-->
<!--/*@thymesVar id="registration" type="amu.zhcet.data.course.registration.CourseRegistration"*/-->
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'department_admin', subPage = 'courses')">
    <div class="row" th:if="${floatedCourse}">
        <div th:replace="fragments/layout :: toolbar"></div>
        <div th:if="${unknown_error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Unknown Error!</strong>
            <div>This can only happen if you tried to POST invalid data by force!</div>
        </div>
        <div th:replace="department/fragments/unfloat_course"></div>
        <div class="row">
            <div class="col-xs-12 col-xl-5">
                <div th:replace="department/fragments/add_in_charge"></div>
                <div th:replace="faculty/fragments/email_list"></div>
                <div th:with="attendance_download_url = @{|./${floatedCourse.course.code}/attendance.csv|}"
                     th:insert="faculty/fragments/attendance_download"></div>
                <div th:replace="department/fragments/register_students"></div>
            </div>
            <div class="col-xs-12 col-xl-7">
                <div th:replace="department/fragments/registered_students"></div>
            </div>
        </div>
    </div>

    <div th:unless="${floatedCourse}" class="row">
        <div th:replace="department/fragments/course_not_found"></div>
    </div>
</div>
<script id="sections" type="text/plain">
    <span id="sections" class="mui-select section-select mx-1" hidden>
        <label for="section">Section</label>
        <select id="section" name="section">
            <option th:each="section : ${sections}" th:value="${section}"
                    th:text="${section}"></option>
        </select>
    </span>
</script>
<script th:inline="javascript">
    var PageDetails = {
        department: [[${department.code}]],
        course: [[${floatedCourse.course.code}]]
    }
</script>
<div th:replace="fragments/layout :: typeahead"></div>
<script th:src="@{/js/file-uploader.js}"></script>
<script th:src="@{/js/fuzzyhound.js}"></script>
<script th:src="@{/js/floated-course.js}"></script>
<div th:replace="fragments/layout :: datatables"></div>
<div th:replace="fragments/layout :: datatables_export"></div>
<script th:src="@{/js/floated-course-common.js}"></script>
</body>
</html>