<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="user" type="in.ac.amu.zhcet.data.model.user.User"*/-->
    <div class="text-xs-right">
        <button id="link-google" class="btn btn-round btn-info" style="display: none">Link Google Account</button>
        <button th:if="${user.emailVerified}" th:class="|btn btn-round btn-${user.emailUnsubscribed ? 'success' : 'danger'}|"
                data-toggle="modal" data-target="#unsubscribe" th:text="${user.emailUnsubscribed ? 'Subscribe Email' : 'Unsubscribe Email'}"></button>
        <div id="loader" class="md-progress" style="visibility: hidden">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="modal fade text-xs-left" id="unsubscribe" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div th:class="|modal-header bg-${user.emailUnsubscribed ? 'success' : 'danger'} white|">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" th:text="|${user.emailUnsubscribed ? 'Subscribe' : 'Unsubscribe'} Email|">Unsubscribe Email</h4>
                </div>
                <div class="modal-body">
                    <div th:class="|alert alert-${user.emailUnsubscribed ? 'success' : 'danger'}|" role="alert">
                        <p th:if="${user.emailUnsubscribed}"><span class="text-bold-600">Great!</span> You'll receive alerts or notice like update of attendance in email!</p>
                        <p th:unless="${user.emailUnsubscribed}"><span class="text-bold-600">Beware!</span> Any alerts or notice like update of attendance won't be sent as email!</p>
                    </div>
                    <p>If you wish to continue, please click the button below</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                    <a th:href="@{/profile/email(unsubscribe=${!user.emailUnsubscribed})}">
                        <button type="button" th:class="|btn btn-outline-${user.emailUnsubscribed ? 'success' : 'danger'}|"
                                th:text="|${user.emailUnsubscribed ? 'S' : 'Uns' }ubscribe|">Unsubscribe</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>