<div xmlns:th="http://www.thymeleaf.org" th:if="${!user.emailVerified}" class="col-xs-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
    <!--/*@thymesVar id="user" type="amu.zhcet.data.user.User"*/-->
    <div class="mui-panel">
        <div class="text-danger">
            <h3>Register Email Address</h3>
        </div>
        <div th:text="${user.email}"></div>
        <div th:if="${user.email == null}">
            <p>
                Your email address is not registered yet! You won't be getting password reset emails from us in case
                you forget it!
            </p>
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <form th:action="@{/profile/register_email}" method="post">
                        <fieldset class="form-group">
                            <div class="input-group">
                                <input type="email" class="form-control" title="email" name="email"
                                       th:value="${email}" placeholder="Email" required>
                                <span class="input-group-btn">
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="icon-check2"></i></button>
                                        </span>
                            </div>
                        </fieldset>
                        <div th:replace="fragments/flash :: success(condition = ${link_sent}, success_title = 'Sent!', message = ${link_sent})"></div>
                        <div th:replace="fragments/flash :: error(condition = ${invalid_email}, error = ${invalid_email})"></div>
                        <div th:replace="fragments/flash :: error(condition = ${duplicate_email}, error = ${duplicate_email})"></div>
                    </form>
                </div>
            </div>
        </div>
        <div th:unless="${user.email == null}">
            <p>
                Your email address is registered, but not verified! You won't be getting password reset emails from
                us in case you forget it!
            </p>
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <form th:action="@{/profile/confirm_email}" method="post">
                        <button type="submit" class="btn btn-primary block">Resend Verification Link</button>
                        <br>
                        <div th:replace="fragments/flash :: success(condition = ${link_sent}, success_title = 'Sent!', message = ${link_sent})"></div>
                        <div th:replace="fragments/flash :: error(condition = ${invalid_email}, error = ${invalid_email})"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>