<div class="modal fade" id="firebase-unavailable-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Feature may be disabled!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <img src="https://firebase.google.com/images/brand-guidelines/logo-standard.png" alt="Firebase" class="img-fluid">
                        <p>We use a Google's service named Firebase to handle various features such as:</p>
                        <ul>
                            <li><em>Background Notifications</em> - Get notified about latest news from your teachers about attendance and assignments even when the browser is closed</li>
                            <li><em>Google Authentication</em> - Sign in from your Google Account without the hassle of password based login</li>
                            <li><em>Social Account Linking</em> - Provide initial data from Social account like profile picture</li>
                        </ul>

                        <p>and much more...</p>

                        <p>But it seems like firebase is blocked from your servers despite being completely secure and trusted by millions of sites.</p>
                        <div class="text-center">
                            <img src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f61f.png" alt="sad" class="img-fluid">
                        </div>

                        <p>We have tried to work around the issue but it might not work. Please request your webmaster to unblock the site so that you can enjoy the full feature set of the site.</p>
                        <p>Thank You</p>

                        <p>ZHCET Web Team</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>