<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="user" type="in.ac.amu.zhcet.data.model.user.UserAuth"*/-->
    <div th:if="${!user.passwordChanged}" class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Password Unchanged</strong>
        <div>You have not changed your password, and it can lead to your account being hacked!</div>
        <div th:if="${user.active}">Click <a th:href="@{/profile/change_password}">here</a> to change your password</div>
        <div th:unless="${user.active}">You need to activate your account before you can change your password by registering and verifying your email</div>
    </div>
    <div th:if="${password_change_success}" class="alert alert-dismissible alert-success mt-2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span th:text="${password_change_success}">Password was changed successfully!</span>
    </div>
</div>