<div class="card" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!--/*@thymesVar id="student" type="in.ac.amu.zhcet.data.model.Student"*/-->
    <!--/*@thymesVar id="user" type="in.ac.amu.zhcet.data.model.user.UserAuth"*/-->
    <div class="card-header">
        <h4 class="card-title" id="from-actions-top-left">Profile Setting</h4>
        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="text-xs-center">
        <div class="card-block">
            <img src="https://zhcet-web-amu.firebaseapp.com/static/img/account.svg"
                 th:src="${#strings.defaultString(user.details.avatarUrl, 'https://zhcet-web-amu.firebaseapp.com/static/img/account.svg')}"
                 class="rounded-circle height-150" alt="Card image"/>
            <form th:action="@{/profile/picture}" enctype="multipart/form-data" method="post" class="pt-2">
                <div th:replace="fragments/layout :: uploader(id = 'avatar_upload', btn_choose = 'Change Avatar', upload_types = 'image/*')"></div>
                <div th:each="success : ${avatar_success}" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span th:text="${success}">Your profile was updated successfully!</span>
                </div>
                <div th:each="error : ${avatar_errors}" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div th:utext="${error}">Fix this and try and try again</div>
                </div>
            </form>
        </div>
        <div class="card-block">
            <h6 class="card-subtitle text-muted" th:text="${user.name}">Name</h6>
            <ul class="list-inline list-inline-pipe" sec:authorize="hasRole('STUDENT')">
                <li th:text="${student.facultyNumber}">FacultyNumber</li>
                <li th:text="${student.enrolmentNumber}">EnrolmentNumber</li>
            </ul>
            <ul class="list-inline list-inline-pipe" sec:authorize="hasRole('FACULTY')">
                <li th:text="${faculty.facultyId}">FacultyNumber</li>
            </ul>
            <span th:text="${user.email}"></span><span th:if="${user.active}" style="margin-left: 5px;"><i
                class="icon-check2"></i></span>
        </div>
    </div>
    <!--/*@thymesVar id="user_details" type="in.ac.amu.zhcet.data.model.user.UserDetail"*/-->
    <form class="form" th:action="@{/profile/details}" method="post" th:object="${user_details}">
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                <div class="form-body">
                    <div th:if="${success}" class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Updated!</strong> Your profile was updated successfully!
                    </div>
                    <div class="row">
                        <input type="hidden" th:field="*{avatarUrl}">

                        <div class="form-group col-xs-12 mb-2">
                            <label for="description">Bio</label>
                            <input id="description" name="description"
                                   class="form-control"
                                   type="text"
                                   th:field="*{description}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="addressLine1">Address</label>
                            <input id="addressLine1" name="addressLine1"
                                   class="form-control"
                                   type="text"
                                   th:field="*{address}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="city">City</label>
                            <input id="city" name="city"
                                   class="form-control"
                                   type="text"
                                   th:field="*{city}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="state">State</label>
                            <input id="state" name="state"
                                   class="form-control"
                                   type="text"
                                   th:field="*{state}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="phone-numbers">Phone Numbers</label>
                            <input id="phone-numbers"
                                   class="form-control"
                                   type="text"
                                   th:field="*{phoneNumbers}"/>
                        </div>
                    </div>
                    <div th:each="error : ${errors}" class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Something went wrong!</strong>
                        <div th:utext="${error}">Fix this and try and try again</div>
                    </div>
                    <button type="submit" class="btn btn-primary float-xs-right">
                        <i class="icon-check2"></i> Update
                    </button>
                    <br><br>
                </div>
            </div>
        </div>
    </form>
</div>