<div class="card" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!--/*@thymesVar id="faculty" type="amu.zhcet.data.user.faculty.FacultyMember"*/-->
    <!--/*@thymesVar id="student" type="amu.zhcet.data.user.student.Student"*/-->
    <!--/*@thymesVar id="user" type="amu.zhcet.data.user.User"*/-->
    <div class="card-header">
        <h4 class="card-title" id="from-actions-top-left">Profile Setting</h4>
        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="text-xs-center">
        <div class="card-block">
            <h4 th:text="${user.name}">Name</h4>
            <div th:if="${user.type.name() == 'STUDENT'}">
                <ul class="list-inline list-inline-pipe">
                    <li th:text="${student.facultyNumber}">FacultyNumber</li>
                    <li th:text="${student.enrolmentNumber}">EnrolmentNumber</li>
                </ul>
                <div class="row">
                    <div class="col-xs-8 offset-xs-2 col-lg-6 offset-lg-3 bg-light-gray">
                        <table class="table">
                            <tr>
                                <td>Section</td>
                                <td th:text="${student.section}">A4PE</td>
                            </tr>
                            <tr>
                                <td>Hall</td>
                                <td th:text="${student.hallCode}">NR</td>
                            </tr>
                            <tr>
                                <td>Registered</td>
                                <td th:text="${student.registrationYear}">2014</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td th:text="${student.status}">Active</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div th:if="${user.type.name() == 'FACULTY'}">
                <ul class="list-inline list-inline-pipe">
                    <li th:text="${faculty.facultyId}">FacultyNumber</li>
                </ul>
                <div class="row">
                    <div class="col-xs-8 offset-xs-2 col-lg-6 offset-lg-3 bg-light-gray">
                        <table class="table">
                            <tr>
                                <td>Designation</td>
                                <td th:text="${faculty.designation}">A4PE</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="capsule p-small col-xs-6 offset-xs-3" th:text="${user.department.name}"></div>
            </div>
            <div id="gender-container" class="mt-1" th:with="gender = ${user.details.gender}" th:if="${user.details.gender}">
                <span id="gender" th:text="${gender}"  th:class="|capsule p-small ${@viewService.getClassForGender(gender)}|">Male</span>
            </div>
            <div class="pt-1">
                <span th:text="${user.email}"></span><span th:if="${user.emailVerified}" style="margin-left: 5px;"><i class="icon-check2"></i></span>
                <br><br>
            </div>
            <img src="https://zhcet-backend.firebaseapp.com/static/img/account.svg"
                 th:src="${@viewService.getAvatarUrl(user.details.originalAvatarUrl)}"
                 class="rounded-circle height-200" alt="Profile Picture"/>
            <form th:action="@{/profile/picture}" enctype="multipart/form-data" method="post" class="pt-2" th:if="${@firebaseService.canProceed()}">
                <div th:replace="fragments/layout :: uploader(id = 'avatar_upload', btn_choose = 'Change Avatar', upload_types = 'image/*')"></div>
                <div th:each="success : ${avatar_success}" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <span th:text="${success}">Your profile was updated successfully!</span>
                </div>
                <div th:each="error : ${avatar_errors}" class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div th:utext="${error}">Fix this and try and try again</div>
                </div>
            </form>
        </div>
    </div>
    <!--/*@thymesVar id="user_details" type="amu.zhcet.data.user.detail.UserDetail"*/-->
    <form class="form" th:action="@{/profile/details}" method="post" th:object="${user_details}">
        <div class="row">
            <div class="col-xs-10 offset-xs-1 col-md-6 offset-md-3">
                <div th:each="error : ${#fields.detailedErrors('*')}">
                    <div th:replace="fragments/layout :: error(condition = true, error = ${error})"></div>
                </div>
                <div class="form-body">
                    <div th:if="${success}" class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Updated!</strong> Your profile was updated successfully!
                    </div>
                    <div class="mui-form">
                        <div class="mui-select">
                            <label for="type">Gender</label>
                            <select id="type" th:field="*{gender}" disabled>
                                <option value="">Unspecified</option>
                                <option th:each="type : ${genders}"
                                        th:value="${type.name()}"
                                        th:text="${type}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <input type="hidden" th:field="*{avatarUrl}">

                        <div class="form-group col-xs-12 mb-2">
                            <label for="description">Bio</label>
                            <input id="description" name="description"
                                   class="form-control"
                                   type="text"
                                   th:field="*{description}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="dob">Date of Birth</label>
                            <input id="dob" name="dob"
                                   class="form-control"
                                   type="date"
                                   th:field="*{dob}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="addressLine1">Address</label>
                            <input id="addressLine1" name="addressLine1"
                                   class="form-control"
                                   type="text"
                                   th:field="*{address}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="city">City</label>
                            <input id="city" name="city"
                                   class="form-control"
                                   type="text"
                                   th:field="*{city}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="state">State</label>
                            <input id="state" name="state"
                                   class="form-control"
                                   type="text"
                                   th:field="*{state}"/>
                        </div>

                        <div class="form-group col-xs-12 mb-2">
                            <label for="phone-numbers">Phone Numbers</label>
                            <input id="phone-numbers"
                                   class="form-control"
                                   type="text"
                                   th:field="*{phoneNumbers}"/>
                        </div>
                    </div>
                    <div th:each="error : ${errors}" class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Something went wrong!</strong>
                        <div th:utext="${error}">Fix this and try and try again</div>
                    </div>
                    <button type="submit" class="btn btn-primary float-xs-right">
                        <i class="icon-check2"></i> Update
                    </button>
                    <br><br>
                </div>
            </div>
        </div>
    </form>
</div>