<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean', subPage = 'dean_admin')" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div th:replace="fragments/layout :: toolbar"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <div th:replace="dean/fragments/register_student:: register_student"></div>
                <div th:replace="dean/fragments/register_faculty :: register_faculty"></div>
            </div>
            <div class="col-xs-12 col-lg-6">
                <div th:replace="dean/fragments/add_department"></div>
                <div th:replace="dean/fragments/role_management"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div th:replace="dean/fragments/user_table"></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/status-update.js}"></script>
<script th:replace="dean/fragments/register_student :: script"></script>
<script th:replace="dean/fragments/register_faculty :: script"></script>
<div th:replace="fragments/layout :: datatables"></div>
</body>
</html>
