<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head">
</head>
<style>
    .label-control {
        margin-top: 8px;
    }
</style>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'dean', subPage='config')"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 offset-md-1">
                <div th:replace="fragments/layout :: toolbar"></div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" id="from-actions-top-left">Configurations</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <!--/*@thymesVar id="config" type="in.ac.amu.zhcet.data.model.dto.Config"*/-->
                        <form class="form form-horizontal" th:action="@{/dean/configuration}" method="post" th:object="${config}">
                            <div th:each="message : ${success}" class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <span th:text="${message}"></span>
                            </div>
                            <div th:each="error : ${#fields.detailedErrors('*')}">
                                <div th:replace="fragments/layout :: error(condition = true, error = ${error})"></div>
                            </div>
                            <div th:each="error : ${errors}" class="alert alert-dismissible alert-danger">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <div th:utext="${error}">Fix this and try and try again</div>
                            </div>
                            <div class="form-body">
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="site">Site URL
                                        <i class="material-icons helper" data-toggle="tooltip" data-original-title="Site URL appears in emails and bookmarkable material">info_outline</i>
                                    </label>
                                    <div class="col-md-3">
                                        <input type="text" id="site" class="form-control" th:field="*{url}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="threshold">Attendance Threshold</label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="number" id="threshold" min="50" max="100" class="form-control" placeholder="Threshold Percentage" th:field="*{attendanceThreshold}">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="site">Maximum Reties
                                        <i class="material-icons helper" data-toggle="tooltip" data-original-title="Maximum failed attempts before an IP is blocked">info_outline</i>
                                    </label>
                                    <div class="col-md-3">
                                        <input type="number" id="max-retries" min="3" max="10" class="form-control" th:field="*{maxRetries}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="site">Block Duration
                                        <i class="material-icons helper" data-toggle="tooltip" data-original-title="Duration for which the IP should be blocked">info_outline</i>
                                    </label>
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="number" id="block-duration" min="3" max="24" class="form-control" th:field="*{blockDuration}">
                                            <span class="input-group-addon">hours</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="session-year">Session</label>
                                    <div class="col-md-3">
                                        <select class="form-control" th:field="*{term}" id="session-term">
                                            <option value="W">Winter</option>
                                            <option value="A">Autumn</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" id="session-year" min="2000" th:field="*{year}" class="form-control" placeholder="Session Year">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control">Auto Session Change
                                        <i class="material-icons helper" data-toggle="tooltip" data-original-title="Let the app change sessions according to current year and month">info_outline</i>
                                    </label>
                                    <div class="col-md-3" style="margin-top: 5px;">
                                        <label id="auto-session" class="file center-block">
                                            <input type="checkbox" id="auto" data-color="primary" class="switchery" th:field="*{automatic}">
                                        </label>
                                    </div>
                                </div>
                                <div id="default-session" class="row text-xs-center" th:hidden="${!config.automatic}">
                                    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                                        <h5 class="capsule bg-primary text-white" th:text="|The applied session is ${config.defaultSession}|"></h5>
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions float-xs-right">
                                <button type="submit" class="btn btn-primary">
                                    <i class="icon-check2"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/layout :: scripts"></div>

<script th:src="@{/js/app-config.js}"></script>
</body>
</html>
