<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en" data-textdirection="ltr" class="loading">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<head th:replace="fragments/layout :: head">
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'dean', subPage = 'faculty_page')"></div>
<div th:fragment="content" th:include="fragments/layout :: wrapper" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="row">
        <div class="col-xs-12">
            <div th:replace="fragments/layout :: toolbar"></div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Faculty Members</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <table id="facultyTable" class="table display table-striped table-bordered">
                            <!-- Header Table -->
                            <thead>
                            <tr>
                                <th></th>
                                <th>Faculty ID</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Working</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <!-- Footer Table -->
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Faculty ID</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Working</th>
                                <th>Email</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="facultyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Faculty Info</h4>
                </div>
                <div class="modal-body text-xs-center">
                    <img id="avatar" src="https://zhcet-backend.firebaseapp.com/static/img/account.svg" class="rounded-circle height-200" alt="Profile Picture"/>
                    <br><br>
                    <h4 id="name" class="card-subtitle">Areeb Jamal</h4>
                    <br>
                    <h5>
                        <span id="faculty_id">14PEB049</span><br>
                        <span id="designation">Faculty Member</span>
                    </h5>
                    <h5 id="department" class="capsule">Computer</h5>
                    <div style="text-align: center">
                        <div id="working" class="capsule bg-success" style="width: 120px;display: inline-block">Active</div>
                    </div>
                    <br>
                    <span id="email" style="margin-left: 20px;">jamal.areeb@gmail.com</span><span id="verified" style="margin-left: 5px;"><i class="icon-check2"></i></span>
                    <br>
                    <span>Registered at : </span><span id="registered-at">2014-09-08T08:02:17-05:00</span>
                    <br>
                    <span>Registered by : </span><span id="registered-by">Dean</span>
                    <br>

                    <a id="link"><button class="mui-btn mui-btn--fab mui-btn--primary"><i class="material-icons md-24 md-light">edit</i></button></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/layout :: scripts"></div>
</div>
</body>
<style>
    table.dataTable.display tr {
        cursor: pointer;
        *cursor: hand;
    }

    table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
        background-color: #d1c4e9;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://zhcet-backend.firebaseapp.com/static/js/throttle.min.js"></script>
<script th:src="@{/js/faculty-datatable.js}"></script>
</html>
