<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en" data-textdirection="ltr" class="loading">
<head th:replace="fragments/layout :: head"></head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean', subPage = 'faculty_page')" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="row">
        <div class="col-12">
            <div th:replace="fragments/toolbar"></div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Faculty Members</h4>
                    <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                            <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="mui-form">
                                    <div class="p-1 mui-select">
                                        <label for="working-status">Working Status : </label>
                                        <select id="working-status">
                                            <option value="">All</option>
                                            <option value="true">Working</option>
                                            <option value="false">Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="mui-form">
                                    <div class="p-1 mui-select">
                                        <label for="gend">Gender : </label>
                                        <select id="gend">
                                            <option value="">All</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="facultyTable" class="table display table-striped table-bordered">
                            <!-- Header Table -->
                            <thead>
                            <tr>
                                <th></th>
                                <th>Faculty ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Working</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <!-- Footer Table -->
                            <tfoot>
                            <tr>
                                <th></th>
                                <th>Faculty ID</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Working</th>
                                <th>Email</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="facultyModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Faculty Info</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img id="avatar" src="/img/account.svg" class="rounded-circle height-200" alt="Profile Picture"/>
                    <br><br>
                    <h4 id="name" class="card-subtitle">Areeb Jamal</h4>
                    <br>
                    <h5>
                        <span id="faculty_id">14PEB049</span><br>
                        <span id="designation">Faculty Member</span>
                    </h5>
                    <div id="gender-container" class="mt-1">
                        <span id="gender" class="capsule p-small pink-dark">Male</span>
                        <br><br>
                    </div>
                    <h5 id="department" class="capsule p-small">Computer</h5>
                    <div style="text-align: center">
                        <div id="working" class="capsule p-small text-white bg-success" style="width: 120px;display: inline-block">Working</div>
                    </div>
                    <br>
                    <span id="email" style="margin-left: 20px;">jamal.areeb@gmail.com</span><span id="verified" style="margin-left: 5px;"><i class="material-icons md-18"></i></span>
                    <br>
                    <span>Registered at : </span><span id="registered-at">2014-09-08T08:02:17-05:00</span>
                    <br>
                    <span>Registered by : </span><span id="registered-by">Dean</span>
                    <br>

                    <a id="link"><button class="mui-btn mui-btn--fab mui-btn--primary"><i class="material-icons md-24 md-light">edit</i></button></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: datatables"></div>
<div th:replace="fragments/scripts :: datatables_export"></div>
<script th:src="@{/js/build/datatable/faculty.min.js}"></script>
<div th:replace="fragments/scripts :: data_details"></div>
<style>
    #facultyTable tr {
        cursor: pointer;
    }
</style>
</body>
</html>
