<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<link rel="stylesheet" th:href="@{/css/floated-course.css}">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<!--/*@thymesVar id="floatedCourse" type="in.ac.amu.zhcet.data.model.FloatedCourse"*/-->
<!--/*@thymesVar id="inCharge" type="in.ac.amu.zhcet.data.model.CourseInCharge"*/-->
<!--/*@thymesVar id="registration" type="in.ac.amu.zhcet.data.model.CourseRegistration"*/-->
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean_admin', subPage = 'floated_page')">
    <div class="row" th:if="${floatedCourse}">
        <div th:replace="fragments/layout :: toolbar"></div>
        <div th:if="${unknown_error}" class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Unknown Error!</strong>
            <div>We don't know what happened!</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-xl-4">
                <div th:replace="faculty/fragments/email_list"></div>
                <div th:with="attendance_download_url = @{|./${floatedCourse.course.code}/attendance/download|}"
                     th:insert="faculty/fragments/attendance_download"></div>
                <div th:replace="department/fragments/register_students"></div>
            </div>
            <div class="col-xs-12 col-xl-8">
                <div th:replace="department/fragments/registered_students"></div>
            </div>
        </div>
    </div>

    <div th:unless="${floatedCourse}" class="row">
        <div th:replace="department/fragments/course_not_found"></div>
    </div>
</div>
<script th:src="@{/js/floated-course-common.js}"></script>
<div th:replace="fragments/layout :: datatables"></div>
<div th:replace="fragments/layout :: datatables_export"></div>
</body>
</html>