<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.bootstrap4.min.css">
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'dean_admin', subPage = 'floated_page')"></div>

<!--/*@thymesVar id="floatedCourse" type="in.ac.amu.zhcet.data.model.FloatedCourse"*/-->
<!--/*@thymesVar id="inCharge" type="in.ac.amu.zhcet.data.model.CourseInCharge"*/-->
<!--/*@thymesVar id="registration" type="in.ac.amu.zhcet.data.model.CourseRegistration"*/-->
<div th:fragment="content" th:include="fragments/layout :: wrapper">
    <div th:replace="fragments/layout :: toolbar"></div>
    <div th:if="${unknown_error}" class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Unknown Error!</strong>
        <div>This can only happen if you tried to POST invalid data by force!</div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-xl-4">
            <div class="card">
                <a th:href="|/dean/floated/${floatedCourse.course.code}/attendance/download|" target="_blank">
                    <div class="card-body">
                        <div class="media">
                            <div class="p-2 text-xs-center bg-cyan bg-darken-2 media-left media-middle" style="background-color: #0097A7">
                                <i class="icon-user1 font-large-2 text-white"></i>
                            </div>
                            <div class="p-2 bg-cyan text-white media-body" th:if="${courseRegistrations != null}" style="background-color: #00BCD4">
                                <h5>Download Attendance</h5>
                                <h5 class="text-bold-400" th:text="|${courseRegistrations.size()} Students|"></h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div th:replace="department/fragments/register_students"></div>
        </div>
        <div class="col-xs-12 col-xl-8">
            <div th:replace="department/fragments/registered_students"></div>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
<script>
    (function () {
        $(window).ready(function () {
            $('#registration-modal').modal('show');
            $('#registrationTable').dataTable({
                scrollY:        true,
                scrollCollapse: true,
                "order": [],
                dom: 'lBfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            });
            $('#confirmRegistrationTable').dataTable({
                scrollY:        true,
                scrollCollapse: true,
                "order": []
            });
        });
    }());
</script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.bootstrap4.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>
</body>
</html>