<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en" data-textdirection="ltr" class="loading">
<head th:replace="fragments/layout :: head"></head>
<style>
    .type {
        background-color: #E1BEE7;
        font-weight:100;
        display: inline-flex;
        align-items: center;
    }

    #type {
        padding-right: 8px;
    }
</style>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean', subPage = 'floated_page')" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="row">
        <div class="col-12">
            <div th:replace="fragments/toolbar"></div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Floated Courses</h4>
                    <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                            <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <table id="floatedCourseTable" class="table display table-striped table-bordered">
                            <!-- Header Table -->
                            <thead>
                            <tr>
                                <th>Code</th>
                                <th>Title</th>
                                <th>Department</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Number of Students in Course">Reg.</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Semester">Sem.</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Credits">Cred.</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Course Category">Cat.</th>
                                <th>Branch</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <!-- Footer Table -->
                            <tfoot>
                            <tr>
                                <th>Code</th>
                                <th>Title</th>
                                <th>Department</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Number of Students in Course">Reg.</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Semester">Sem.</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Credits">Cred.</th>
                                <th class="small-th" data-toggle="tooltip" data-original-title="Course Category">Cat.</th>
                                <th>Branch</th>
                                <th>Type</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="floatedCourseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Floated Course Info</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <h4 id="title" class="card-subtitle">Theory of Computation</h4>
                    <br>
                    <h5><span id="code">CO313</span></h5>
                    <h5 id="department" class="capsule p-small">Computer</h5>
                    <br>
                    <div style="text-align: center">
                        <span class="capsule p-small type"><i id="type_icon" class="material-icons md-dark">class</i>&nbsp;<span id="type">Theory</span></span>
                    </div>
                    <br>
                    <div>
                        <span class="capsule p-small bg-success" id="category">DE</span>&nbsp;
                        <span class="capsule p-small bg-orange text-white" id="branch">PE</span>&nbsp;
                        <span class="capsule p-small">Semester : <span id="semester">3</span></span>&nbsp;
                        <span class="capsule p-small">Credits : <span id="credits">3</span></span>&nbsp;
                    </div>
                    <br>
                    <p id="description">This course is great!</p>
                    <div>Sections : <span id="sections">[A4PE]</span></div>
                    <span>Floated at : </span><span id="floated-at">2014-09-08T08:02:17-05:00</span>
                    <br>
                    <span>Floated by : </span><span id="floated-by">Dean</span>
                    <br>

                    <a id="register"><button data-original-title="Register Students" data-toggle="tooltip" class="mui-btn mui-btn--fab mui-btn--primary bg-success"><i class="material-icons md-24 md-light">edit</i></button></a>
                    <a id="link" target="_blank"><button data-original-title="Download Attendance" data-toggle="tooltip" class="mui-btn mui-btn--fab mui-btn--primary bg-primary"><i class="material-icons md-24 md-light">file_download</i></button></a>
                    <div><span id="num">60</span> students</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: datatables"></div>
<div th:replace="fragments/scripts :: datatables_export"></div>
<script th:src="@{/js/build/datatable/floated-course.min.js}"></script>
<div th:replace="fragments/scripts :: data_details"></div>
</body>
</html>
