<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
<nav th:replace="fragments/header :: header"></nav>
<div th:replace="fragments/navigation :: navigation(pageId = 'dean', subPage = 'dean_admin')"></div>

<div th:fragment="content" th:include="fragments/layout :: wrapper">
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
    <div th:replace="fragments/layout :: toolbar"></div>

    <div th:if="${saved}" class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Saved!</strong> Roles have been saved
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="from-actions-top-left">Manage Roles</h4>
            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="card-body collapse in">
            <div id="payload" class="card-block">
                <input class="fuzzy-search form-control round mb-1" placeholder="Search" />
                <div class="table-responsive">
                <table class="table">
                    <tbody class="list">
                    <!--/*@thymesVar id="member" type="in.ac.amu.zhcet.data.model.FacultyMember"*/-->
                    <form th:action="|/dean/roles/${department.id}|" method="post" th:each="member : ${facultyMembers}">
                        <tr>
                            <td width="50" style="padding: 0;">
                                <img src="https://zhcet-web-amu.firebaseapp.com/static/img/account.svg"
                                     th:src="${@viewService.getAvatarUrl(member.user.details.avatarUrl)}"
                                     class="rounded-circle" width="70" alt="Card image"/>
                            </td>
                            <td class="faculty-id" th:text="${member.facultyId}"></td>
                            <td class="name" th:text="${member.user.name}"></td>
                            <td class="active" width="50" style="padding: 0">
                                <span th:class="|capsule ${member.working ? 'bg-success' : 'bg-danger'}|" th:text="${member.working ? 'Active' : 'Inactive'}"></span>
                            </td>
                            <td>
                                <table class="table table-column" style="background-color: white">
                                    <tr>
                                        <td><label>Dean Admin</label></td>
                                        <td><input type="checkbox" class="switchery" data-color="primary" name="roles" value="dean" th:checked="${#lists.contains(member.user.roles, 'ROLE_DEAN_ADMIN')}"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Department Admin&nbsp;</label></td>
                                        <td><input type="checkbox" class="switchery" data-color="primary"  name="roles" value="department" th:checked="${#lists.contains(member.user.roles, 'ROLE_DEPARTMENT_ADMIN')}"></td>
                                    </tr>
                                    <tr>
                                        <td><label>Faculty Member&nbsp;</label></td>
                                        <td><input type="checkbox" class="switchery" data-color="primary" name="roles" value="faculty" th:checked="${#lists.contains(member.user.roles, 'ROLE_FACULTY')}"></td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding: 5px;">
                                <input type="hidden" name="facultyId" th:value="${member.facultyId}">
                                <button class="mui-btn mui-btn--primary mui-btn--small mui-btn--fab bg-primary"><i class=" icon-check2"></i></button>
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
                </div>
                <ul class="pagination pagination-separate pagination-flat"></ul>
            </div>
        </div>
    </div>
    </div>
</div>
<div th:replace="fragments/layout :: scripts"></div>
<script src="https://zhcet-web-amu.firebaseapp.com/static/js/list.min.js"></script>
<script>
    var options = {
        valueNames: [ 'faculty-id', 'name' ],
        page: 30,
        pagination: true
    };

    new List('payload', options);
</script>
</body>
</html>