<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      data-textdirection="ltr"
      class="loading">
<head th:replace="fragments/layout :: head"></head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean', subPage = 'dean_admin')">
    <div class="col-xs-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
    <div th:replace="fragments/toolbar"></div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="from-actions-top-left">Manage Roles</h4>
            <a class="heading-elements-toggle"><i class="material-icons font-medium-3">more_vert</i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse"><i class="material-icons">remove</i></a></li>
                    <li><a data-action="expand"><i class="material-icons">fullscreen</i></a></li>
                </ul>
            </div>
        </div>

        <div class="card-content collapse show">
            <div id="payload" class="card-body">
                <input class="fuzzy-search form-control round mb-1" placeholder="Search" />
                <div class="row">
                    <div class="col-md-4">
                        <button class="sort btn btn-block btn-outline-info btn-round mb-2" data-sort="name">Sort by name</button>
                    </div>
                    <div class="col-md-4">
                        <button class="sort btn btn-block btn-outline-primary btn-round mb-2" data-sort="faculty-id">Sort by faculty ID</button>
                    </div>
                    <div class="col-md-4">
                        <button class="sort btn btn-block btn-outline-success btn-round mb-2" data-sort="created-date">Sort by created date</button>
                    </div>
                </div>
                <div class="table-responsive">
                <table class="table">
                    <tbody class="list">
                        <!--/*@thymesVar id="member" type="amu.zhcet.data.user.faculty.FacultyMember"*/-->
                        <tr th:each="member : ${facultyMembers}">
                            <!--/*@thymesVar id="department" type="amu.zhcet.data.department.Department"*/-->
                            <td width="50" style="padding: 0;">
                                <img src="https://zhcet-backend.firebaseapp.com/static/img/account.svg"
                                     th:src="${@viewService.getAvatarUrl(member.user.details.avatarUrl)}"
                                     class="rounded-circle" width="70" alt="Card image"/>
                            </td>
                            <td class="faculty-id" th:text="${member.facultyId}"></td>
                            <td class="name" th:text="${member.user.name}"></td>
                            <td class="created-date" th:text="${#temporals.format(member.createdAt)}"></td>
                            <td>
                                <th:block th:each="role: ${member.user.roles}">
                                    <div class="tag tag-danger" th:text="${@authService.roleFilter(role)}"></div><br>
                                </th:block>
                            </td>
                            <td style="padding: 5px;">
                                <a th:href="@{|/admin/dean/roles/user/${member.facultyId}|}"
                                   class="mui-btn mui-btn--primary mui-btn--small mui-btn--fab bg-primary">
                                    <i class="material-icons md-light inv-margin">edit</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <ul class="pagination pagination-separate pagination-flat"></ul>
            </div>
        </div>
    </div>
    </div>
</div>
<script th:replace="fragments/scripts :: list"></script>
<script>
    (function (List) {
        var options = {
            valueNames: [ 'faculty-id', 'name', 'created-date' ],
            page: 10,
            pagination: true
        };

        new List('payload', options);
    }(List));
</script>
</body>
</html>