<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en" data-textdirection="ltr" class="loading">
<head th:replace="fragments/layout :: head"></head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar">

<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean', subPage = 'students_page')" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="row">
        <div class="col-xs-12">
            <div th:replace="fragments/layout :: toolbar"></div>
            <div th:replace="fragments/layout :: success(condition = ${section_success}, message = ${section_success})"></div>
            <div th:replace="fragments/layout :: error(condition = ${section_error}, error = ${section_error})"></div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Students</h4>
                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">
                        <div class="row">
                            <div class="col-xs-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="mui-form">
                                    <div class="p-1 mui-select" id="statuses">
                                        <label for="stat">Status : </label>
                                        <select id="stat">
                                            <option value="">All</option>
                                            <option value="A">Active</option>
                                            <option value="G">Graduated</option>
                                            <option value="N">Name Removed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="mui-form">
                                    <div class="p-1 mui-select">
                                        <label for="gend">Gender : </label>
                                        <select id="gend">
                                            <option value="">All</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="studentTable" class="table display table-striped table-bordered">
                            <!-- Header Table -->
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Faculty No.</th>
                                <th>Enrolment No.</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Department</th>
                                <th>Hall</th>
                                <th>Section</th>
                                <th>Status</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <!-- Footer Table -->
                            <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Faculty No.</th>
                                <th>Enrolment No.</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Department</th>
                                <th>Hall</th>
                                <th>Section</th>
                                <th>Status</th>
                                <th>Email</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="studentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Student Info</h4>
                </div>
                <div class="modal-body text-xs-center">
                    <img id="avatar" src="https://zhcet-backend.firebaseapp.com/static/img/account.svg" class="rounded-circle height-200" alt="Profile Picture"/>
                    <br><br>
                    <h4 id="name" class="card-subtitle">Areeb Jamal</h4>
                    <br>
                    <ul class="list-inline list-inline-pipe text-muted">
                        <li id="faculty_no">14PEB049</li>
                        <li id="enrolment_no">GF1032</li>
                    </ul>
                    <div id="gender-container" class="mt-1">
                        <span id="gender" class="capsule p-small pink-dark">Male</span>
                        <br><br>
                    </div>
                    <h5 id="department" class="capsule p-small">Computer</h5>
                    <span id="email" style="margin-left: 20px;">jamal.areeb@gmail.com</span><span id="verified" style="margin-left: 5px;"><i class="icon-check2"></i></span>
                    <br>
                    <span>Registered at : </span><span id="registered-at">2014-09-08T08:02:17-05:00</span>
                    <br>
                    <span>Registered by : </span><span id="registered-by">Dean</span>
                    <br>

                    <a id="link"><button class="mui-btn mui-btn--fab mui-btn--primary"><i class="material-icons md-24 md-light">edit</i></button></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-xs-left" id="section-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Change Section/Status</h4>
                </div>
                <div class="modal-body">
                    <p>This will change the section/status of <span class="capsule p-small count"></span> selected student(s) to the chosen value</p>
                    <form th:action="@{/dean/student/section}" method="post">
                        <div class="enrolments" hidden></div>
                        <fieldset class="form-group floating-label-form-group">
                            <label for="section">New Section</label>
                            <input type="text" class="form-control" id="section" name="section" placeholder="A4PE" >
                        </fieldset>
                        <input type="submit" class="btn btn-block btn-outline-primary" value="Save Section">
                    </form>
                    <h6 class="line-on-side text-muted text-xs-center font-small-3 pt-2">OR</h6>
                    <form th:action="@{/dean/student/status}" method="post">
                        <div class="enrolments" hidden></div>
                        <div class="mui-form">
                            <div class="mui-select">
                                <label for="status">New Status</label>
                                <select id="status" name="status">
                                    <option value=""></option>
                                    <option value="A">Active : A</option>
                                    <option value="G">Graduated : G</option>
                                    <option value="N">Inactive : N</option>
                                </select>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-block btn-outline-info" value="Save Status">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: datatables"></div>
<div th:replace="fragments/layout :: datatables_export"></div>
<div th:replace="fragments/layout :: datatables_select"></div>
<script th:src="@{/js/data-utils.js}"></script>
<script th:src="@{/js/students-datatable.js}"></script>
<div th:replace="fragments/layout :: data_details"></div>
<link rel="stylesheet" th:href="@{/css/datatables-select.css}">
</body>
</html>
