<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en" data-textdirection="ltr" class="loading">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">
<style>
    .material-icons.center-fix {
        margin-left: -2px;
    }
</style>
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean', subPage = 'ui_page')" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="container">
        <div th:replace="fragments/toolbar"></div>
        <div id="app">
            <div class="row">
                <div class="col-12 col-lg-3">
                    <div class="list-group">
                        <a v-for="section in sections" :href="'#' + section.title"
                           class="list-group-item list-group-item-action"
                           :class="[ { active: section.active } ]">
                            <div>{{ section.title }}</div>
                            <small>{{ section.description }}</small>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-9">
                    <div class="mui-panel text-center">
                        <span v-for="image in images" :key="image.key" class="mr-1">
                            <img height="150px" width="150px" :src="image['.value']" alt="" class="img-thumbnail hover-cursor" @click="showImage(image)">
                        </span>
                        <div class="file-container">
                            <label class="mui-btn mui-btn--raised mui-btn--primary">
                                <input :disabled="imageUpload.uploading" @change="filesChange($event.target.files)"
                                       class="upload-input" type="file" name="file" style="display: none" accept="image/*">
                                <span>Upload Image</span>
                            </label>
                        </div>
                        <div v-if="uploadedFile">
                            <div class="alert alert-dismissible alert-success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Success!</strong>
                                <span>Image uploaded successfully</span>
                            </div>
                            <img height="200px" :src="uploadedFile" /><br>
                            <button @click="save"
                                    class="mui-btn mui-btn--fab mui-btn--primary">
                                <i class="material-icons md-24 md-light">save</i>
                            </button>
                        </div>
                        <div v-if="file">
                            <div v-if="!imageUri">
                                Loading...
                            </div>
                            <div v-else>
                                <img height="200px" :src="imageUri" /><br>
                                <button v-if="!imageUpload.uploading" @click="upload"
                                        class="mui-btn mui-btn--fab mui-btn--primary">
                                    <i class="material-icons md-24 md-light">file_upload</i>
                                </button>
                            </div>
                            <div v-if="imageUpload.uploading">
                                <span v-if="imageUpload.uploadTask">
                                    <button v-if="!imageUpload.paused" @click="pause"
                                            class="mui-btn mui-btn--small mui-btn--primary mui-btn--fab">
                                        <i class="material-icons md-18 md-light center-fix">pause</i>
                                    </button>
                                    <button v-if="imageUpload.paused" @click="resume"
                                            class="mui-btn mui-btn--small mui-btn--primary mui-btn--fab">
                                        <i class="material-icons md-18 md-light center-fix">play_arrow</i>
                                    </button>
                                    <button @click="cancel"
                                            class="mui-btn mui-btn--small mui-btn--primary mui-btn--fab">
                                        <i class="material-icons md-18 md-light center-fix">stop</i>
                                    </button>
                                </span>
                                <span>{{ progress }} %</span>
                                <span :hidden="imageUpload.paused" class="md-progress">
                                    <span class="indeterminate"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img :src="imageToShow" alt="Image" style="width: 100%;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-outline-danger" @click="deleteImage">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: firebase_database"></div>
<div th:replace="fragments/scripts :: firebase_storage"></div>
<div th:replace="fragments/scripts :: firebase_auth"></div>
<script th:src="@{/js/authentication.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<script src="https://unpkg.com/vuefire@1.4.5/dist/vuefire.min.js"></script>
<script>
    Authentication.auth.init();

    var storageRef = firebase.storage().ref();
    var slidesRef = storageRef.child('login/slides/');

    function cloneImageUpload() {
        return {
            paused: false,
            uploading: false,
            uploadTask: null,
            uploadedBytes: 0,
            totalBytes: 0
        }
    }

    new Vue({
        el: '#app',
        firebase: {
            images: firebase.database().ref('login/slides')
        },
        data: {
            uploadedFile: null,
            imageUpload: cloneImageUpload(),
            imageToShow: null,
            file: null,
            imageUri: null,
            sections: [{
                title: 'Slides',
                description: 'Change the images in slides on login page',
                active: true
            }]
        },
        computed: {
            progress: function () {
                return this.imageUpload.totalBytes === 0 ? 0 : this.imageUpload.uploadedBytes / this.imageUpload.totalBytes * 100;
            }
        },
        methods: {
            reset: function () {
                // reset form to initial state
                this.imageUpload = cloneImageUpload();
                this.file = null;
                this.imageUri = null;
            },
            save: function () {
                var newImages = [];
                for (var i = 0; i < this.images.length; i++)
                    newImages.push(this.images[i]['.value']);
                newImages.push(this.uploadedFile);
                this.$firebaseRefs.images.set(newImages)
                    .then(function () {
                        toastr.success('Saved Images');
                        this.reset();
                        this.uploadedFile = null;
                    }.bind(this)).catch(function (error) {
                        console.log(error);
                        toastr.error('Error saving images');
                        this.reset();
                        this.uploadedFile = null;
                    }.bind(this))
            },
            filesChange: function (fileList) {
                if (!fileList.length) return;

                this.file = fileList[0];
                this.imageUri = URL.createObjectURL(this.file);
            },
            upload: function () {
                this.imageUpload.uploading = true;

                var fileRef = slidesRef.child(new Date().toISOString() + this.file.name);
                this.imageUpload.uploadTask = fileRef.put(this.file);

                this.imageUpload.uploadTask.on('state_changed', function (snapshot) {
                    this.imageUpload.totalBytes = snapshot.totalBytes;
                    this.imageUpload.uploadedBytes = snapshot.bytesTransferred;
                    this.imageUpload.paused = snapshot.state === firebase.storage.TaskState.PAUSED;
                }.bind(this), function (error) {
                    this.reset();
                    console.log('Failed' + error)
                }.bind(this), function () {
                    this.uploadedFile = this.imageUpload.uploadTask.snapshot.downloadURL;
                    this.reset();
                }.bind(this))
            },
            pause: function () {
                this.imageUpload.uploadTask.pause()
            },
            cancel: function () {
                this.imageUpload.uploadTask.cancel()
            },
            resume: function () {
                this.imageUpload.uploadTask.resume()
            },

            showImage: function (imageObj) {
                this.imageToShow = imageObj['.value'];
                $('.modal').modal();
            },

            deleteImage: function () {
                var newImages = [];
                for (var i = 0; i < this.images.length; i++) {
                    var image = this.images[i]['.value'];
                    if (image !== this.imageToShow)
                        newImages.push(image);
                }
                newImages.push(this.uploadedFile);
                this.$firebaseRefs.images.set(newImages)
                    .then(function () {
                        toastr.success('Image Deleted');
                    }.bind(this)).catch(function (error) {
                    console.log(error);
                    toastr.error('Error deleting image');
                }.bind(this))

            }
        },
        mounted: function() {
            this.reset();
        }
    });
</script>
</body>
</html>
