<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="en" data-textdirection="ltr" class="loading">
<head th:replace="fragments/layout :: head"></head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns menu-expanded fixed-navbar">
<div th:fragment="content" th:replace="fragments/layout :: wrapper(pageId = 'dean', subPage = 'ui_page')" sec:authorize="hasRole('ROLE_DEAN_ADMIN')">
    <div class="container">
        <div th:replace="fragments/toolbar"></div>
        <div id="app">
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: firebase_database"></div>
<div th:replace="fragments/scripts :: firebase_storage"></div>
<div th:replace="fragments/scripts :: firebase_auth"></div>
<script th:src="@{/js/build/vendor/Vue.min.js}"></script>
<script th:src="@{/js/build/vendor/vuefire.min.js}"></script>
<script th:src="@{/js/build/dean/ui/ui.min.js}"></script>
</body>
</html>
